{# Comandos adicionales #}
{# Pinta unos comandos por defecto dependiendo de los permisos,
   y adicionalmente (si recibe el array adittonalComands) pinta más
#}
<div class="btn-group">
    <a class="btn yellow dropdown-toggle" href="#" data-toggle="dropdown" aria-expanded="false">
        <i class="fa fa-share"></i> Más <i class="fa fa-angle-down"></i>
    </a>
    <ul class="dropdown-menu pull-right">
        {# AYUDA #}
        <li><a href="#" onclick="window.open('{{app.path}}/{{controller}}/help', 'Ayuda', 'width=850,height=610,scrollbars=1,location=0,menubar=1,resizable=1');">Ayuda</a></li>
        {# AÑADIR A FAVORITOS #}
        <li><a href="{{app.path}}/{{values.controller}}/Favoritos/add">Añadir a favoritos</a></li>  
        {# COMANDOS ADICIONALES #}
        {% if adittionalCommands %}
            <li class="divider"></li>
            {% for command in adittionalCommands %}
                <li>
                    {% if command.type == 'popup' %}
                        <a href="javascript:;" onclick="{{command.url}}">{{command.title}}</a>
                    {% elseif command.type == 'href' %}
                        <a href="{{app.path}}/{{command.url}}">{{command.title}}</a>
                    {% elseif command.type == 'modal' %}
                        <a data-toggle="modal" href="{{command.url}}">{{command.title}}</a>
                    {% endif %}
                </li>
            {% endfor %}          
        {% endif %}
        {# AUDITORIA #}
        {% if app.audit and (values.datos.getPrimaryKeyValue) %} 
        <li class="divider"></li>
        <li><a href="#">Auditoría</a>
            <ul class="auditoria">
                <li>Creado por:</li>
                <li>{{values.datos.CreatedBy}}</li>
                <li>{{values.datos.CreatedAt}}</li>
                <li class="separator"></li>
                <li>Modificado por:</li>
                <li>{{values.datos.ModifiedBy}}</li>
                <li>{{values.datos.ModifiedAt}}</li>
                <li class="separator"></li>
                <li>Impreso por:</li>
                <li>{{values.datos.PrintedBy}}</li>
                <li>{{values.datos.PrintedAt}}</li>
                <li class="separator"></li>
                <li>Email por:</li>
                <li>{{values.datos.EmailedBy}}</li>
                <li>{{values.datos.EmailedAt}}</li>
            </ul>
        </li>
        {% endif %}
        {% if values.permisos.permisosModulo['EX'] and values.listado.export_types %}
            <li class="divider"></li>
            <li><a href="#">Exportar</a>
                <ul class="auditoria">
                    {% for value in values.listado.export_types %}
                        <li><a href="#" onclick="$('#actionizq').val('exportar');
                                $('#exportTypeizq').val('{{value}}');
                                $('#paginacionizq').submit();">{{value}}</a></li>
                    {% endfor %}
                </ul>
            </li>                        
        {% endif %}
        {# VARIABLES DE ENTORNO Y WEB #}
        {%if controller != "CpanVariables" %}
            {% if user.IDPerfil.IDPerfil == '1' %}
                <li class="divider"></li>
                <li><a href="{{app.path}}/CpanVariables/Env/Pro">Var. Env Proyecto</a></li>
                <li><a href="{{app.path}}/CpanVariables/Web/Pro">Var. Web Proyecto</a></li>          
                <li><a href="{{app.path}}/CpanVariables/Env/Mod/{{values.controller}}">Var. Env Módulo</a></li>
                {% endif %}
                {% if user.IDPerfil.IDPerfil == '1' or values.permisos.permisosModulo['VW'] == '1' %}     
                <li class="divider"></li>
                <li><a href="{{app.path}}/CpanVariables/Web/Mod/{{values.controller}}">Var. Web Módulo</a><li>
                {% endif %}       
        {% endif %}    

    </ul>
</div>
