{#
  CAMPOS COMUNES A TODOS LOS FORMULARIOS

  EL TABINDEX EMPIEZA EN 100

  author: Sergio Pérez <sergio.perez@albatronic.com>
  copyright: INFORMATICA ALBATRONIC SL
  date 09.09.2012 01:51:37
#}

{% if values.varEnvMod.showCommonFields == '1' or user.IDPerfil.IDPerfil == '1' %}

    {% set atributos = values.atributos %}
    <input name="acordeonActivo" id="acordeonActivo" value="{{ values.acordeonActivo }}" type="hidden" />

    <div class="tab-pane" id="fieldsComunes">
        <div id="acordeonColumnas1" class="panel-group">        
            {# PERFILES CON PERMISO DE ACCESO DESDE CPANEL#}
            {% if (idiomas.actual == 0) and ((user.IDPerfil.IDPerfil == '1') or ((values.permisos.permisosModulo['PC'] and atributos.AccessProfileList.visible == 1))) %}
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#acordeonColumnas" href="#fc-perfiles-pc">Perfiles de acceso al panel de control</a>
                        </h4>
                    </div>
                    <div id="fc-perfiles-pc" class="panel-collapse collapse in">
                        <div class="panel-body">
                            <p>Marque los perfiles de usuarios que tendrán acceso a esta información desde el Cpanel</p>
                            {% for perfil in datos.getArrayPerfilesCpanel %}
                                <input type="checkbox" name="{{values.controller}}[AccessProfileList][perfiles][{{perfil.Id}}]" value="{{perfil.Id}}" {% if perfil.Valor|length %}CHECKED{% endif %} /> {{perfil.Value}}<br/>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            {% endif %}

            {# PERFILES CON PERMISO DE ACCESO DESDE LA WEB #}
            {% if (idiomas.actual == 0) and ((user.IDPerfil.IDPerfil == '1') or ((values.permisos.permisosModulo['PW'] and atributos.AccessProfileListWeb.visible == 1))) %}    
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#acordeonColumnas" href="#fc-perfiles-w">Perfiles de acceso web</a>
                        </h4>
                    </div>
                    <div id="fc-perfiles-w" class="panel-collapse collapse">
                        <div class="panel-body">
                            <p>Marque los perfiles de usuarios que tendrán acceso a esta información desde la web</p>                
                            {% for perfil in datos.getArrayPerfilesWeb %}
                                <input type="checkbox" name="{{values.controller}}[AccessProfileListWeb][perfiles][{{perfil.Id}}]" value="{{perfil.Id}}" {% if perfil.Valor|length %}CHECKED{% endif %} /> {{perfil.Value}}<br/>
                            {% endfor %}
                        </div> 
                    </div>
                </div>
            {% endif %}

            {# GENERAL #}
            {% if (idiomas.actual == 0) and (user.IDPerfil.IDPerfil == '1' or atributos.AllowsChildren.visible or atributos.BelongsTo.visible or atributos.CodigoAppAsociada.visible or atributos.IdAlbumExterno.visible or atributos.IdSliderAsociado.visible or atributos.IdSeccionEnlaces.visible or atributos.IdSeccionVideos.visible or atributos.Observations.visible) %}        
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#acordeonColumnas" href="#fc-general">General</a>
                        </h4>
                    </div>
                    <div id="fc-general" class="panel-collapse collapse">
                        <div class="panel-body">
                            {% if user.IDPerfil.IDPerfil == 1 %}
                                {{ macro.input(datos.primaryKeyName,'Etiqueta','text',values.controller ~ '['~datos.primaryKeyName~']',values.controller ~ '_' ~ datos.primaryKeyName,datos.primaryKeyValue,110,none,'disabled') }}                    
                                {{ macro.input('MD5','Etiqueta','text',values.controller ~ '[PrimaryKeyMD5]',values.controller ~ '_PrimaryKeyMD5',datos.PrimaryKeyMD5,'100','CampoTextoLargo','disabled') }}
                                {{ macro.input('Valor por defecto','Etiqueta','checkbox',values.controller ~ '[IsDefault]',values.controller ~ '_IsDefault',datos.IsDefault.IDTipo,'255','CampoTextoLargo','12') }}
                                {{ macro.input('Valor super','Etiqueta','checkbox',values.controller ~ '[IsSuper]',values.controller ~ '_IsSuper',datos.IsSuper.IDTipo,'255','CampoTextoLargo','12') }}
                            {% endif %}
                            <input name="{{values.controller}}[BelongsTo]" id="{{values.controller}}_BelongsTo" value="{{datos.BelongsTo.getPrimaryKeyValue}}" type="hidden"/>
                            {# macro.select('Objeto Padre','Etiqueta',values.controller ~ '[BelongsTo]',values.controller ~ '_BelongsTo',300,datos.BelongsTo.getPrimaryKeyValue,datos.BelongsTo.fetchAll(none,true,-1),'Select')#}             
                            {{ macro.input('Objeto Padre','Etiqueta','text',values.controller ~ '[BelongsTo]',values.controller ~ '_BelongsTo',datos.BelongsTo.PrimaryKeyValue,none,none,110) }}
                            {{ macro.input('Orden','Etiqueta','text',values.controller ~ '[SortOrder]',values.controller ~ '_SortOrder',datos.SortOrder,none,none,110) }}
                            {{ macro.select('App Asociada','Etiqueta',values.controller ~ '[CodigoAppAsociada]',values.controller ~ '_CodigoAppAsociada',300,datos.CodigoAppAsociada.Id,datos.CodigoAppAsociada.fetchAll('NombreApp',1),'Select')}}
                            {{ macro.selectGroup('Albúm externo','Etiqueta',values.controller ~ '[IdAlbumExterno]',values.controller ~ '_IdAlbumExterno',300,datos.IdAlbumExterno.Id,datos.IdAlbumExterno.fetchAll('',1),'Select') }}
                            {{ macro.selectGroup('Slider asociado','Etiqueta',values.controller ~ '[IdSliderAsociado]',values.controller ~ '_IdSliderAsociado',300,datos.IdSliderAsociado.Id,datos.IdSliderAsociado.fetchAll('',1),'Select') }}
                            {{ macro.select('Sección de vídeos','Etiqueta',values.controller ~ '[IdSeccionEnlaces]',values.controller ~ '_IdSeccionEnlaces',300,datos.IdValueSeccionEnlaces.Id,datos.IdSeccionEnlaces.fetchAll('Titulo',1),'Select') }}
                            {# macro.select(atributos.IdSeccionVideos,'Etiqueta',values.controller ~ '[IdSeccionVideos]',values.controller ~ '_IdSeccionVideos',300,datos.IdSeccionVideos.Id,datos.IdSeccionVideos.fetchAll('Titulo',1),'Select') #}
                            {{ macro.textarea('Observaciones','Etiqueta',values.controller ~ '[Observations]',values.controller ~ '_Observations',datos.Observations,none,none,'textarea',100)}}                
                        </div>
                    </div>
                </div>
            {% endif %}

            {# FECHAS #}
            {% if (idiomas.actual == 0) and (user.IDPerfil.IDPerfil == '1' or atributos.PublishedAt.visible or atributos.ActiveFrom.visible or atributos.ActiveTo.visible) %}
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#acordeonColumnas" href="#fc-fechas">Fechas</a>
                        </h4>
                    </div>
                    <div id="fc-fechas" class="panel-collapse collapse">
                        <div class="panel-body">
                            {{ macro.fecha('Fecha Publicación','Etiqueta',values.controller ~ '[PublishedAt]',values.controller ~ '_PublishedAt',datos.PublishedAt,'19','datepicker',111) }}
                            {{ macro.input('Mostrar fecha publicación','Etiqueta','checkbox',values.controller ~ '[ShowPublishedAt]',values.controller ~ '_ShowPublishedAt',datos.ShowPublishedAt.IDTipo,'255','CampoTextoLargo','12') }}
                            {{ macro.fecha('Vigente desde','Etiqueta',values.controller ~ '[ActiveFrom]',values.controller ~ '_ActiveFrom',datos.ActiveFrom,'19','datepicker',104) }}
                            {{ macro.fecha('Vigente hasta','Etiqueta',values.controller ~ '[ActiveTo]',values.controller ~ '_ActiveTo',datos.ActiveTo,'19','datepicker',105) }}                
                        </div>
                    </div>
                </div>
            {% endif %}

            {# POSICIONAMIENTO SEO #}
            {% if user.IDPerfil.IDPerfil == '1' or values.varEnvMod.showMetaManagement == '1' %}
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#acordeonColumnas" href="#fc-seo">SEO</a>
                        </h4>
                    </div>
                    <div id="fc-seo" class="panel-collapse collapse">
                        <div class="panel-body">
                            {{ macro.input('Bloquear Etiqueta Meta','Etiqueta','checkbox',values.controller ~ '[LockMetatagTitle]',values.controller ~ '_LockMetatagTitle',datos.LockMetatagTitle.IDTipo,'255','CampoTextoLargo','12') }}
                            {% if datos.LockMetatagTitle.IDTipo == '1' %} {% set disabled = 'DISABLED' %} {% else %} {% set disabled = none %} {% endif %}
                            {{ macro.input('Valor MetaTitle','Etiqueta','text',values.controller ~ '[MetatagTitle]',values.controller ~ '_MetatagTitle',datos.MetatagTitle,255,'CampoTextoLargo', disabled) }}
                            {{ macro.input('Title simple','Etiqueta','checkbox',values.controller ~ '[MetatagTitleSimple]',values.controller ~ '_MetatagTitleSimple',datos.MetatagTitleSimple.IDTipo,'255','CampoTextoLargo','12') }}
                            {{ macro.select('Posición del title','Etiqueta',values.controller ~ '[MetatagTitlePosition]',values.controller ~ '_MetatagTitlePosition',none,datos.MetatagTitlePosition.IDTipo,datos.MetatagTitlePosition.fetchAll(none,0),'Select')}}                
                            {{ macro.input('RevisedAfter','Etiqueta','text',values.controller ~ '[RevisitAfter]',values.controller ~ '_RevisitAfter',datos.RevisitAfter,255,'CampoTextoCorto') }}                             
                            <div class="col-md-6">
                            {{ macro.textarea('MetaDescription', 'Etiqueta', values.controller ~ '[MetatagDescription]', values.controller ~ '_MetatagDescription', datos.MetatagDescription, none, none, 'textarea',115) }}
                            </div>
                            <div class="col-md-6">
                            {{ macro.textarea('Keywords', 'Etiqueta', values.controller ~ '[MetatagKeywords]', values.controller ~ '_MetatagKeywords', datos.MetatagKeywords, none, none, 'textarea',116) }}                                             
                            </div>
                        </div>
                    </div>
                </div>
            {% endif %}

            {# IMÁGENES #}
            {% if datos.getPrimaryKeyValue %}
                {% if values.varEnvMod.numberOfImages > '0' or user.IDPerfil.IDPerfil == '1' %}
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#acordeonColumnas" href="#fc-imagenes">Imágenes ({{datos.getNumberOfDocuments('image%','IsThumbnail=0')}})</a>
                            </h4>
                        </div>
                        <div id="fc-imagenes" class="panel-collapse collapse">
                            <div class="panel-body">                    
                                {% if idiomas.actual == 0 %}
                                    <div class="row">
                                        <input name="idImagenEnviar" id="idImagenEnviar" value="" type="hidden" />
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <span class="col-sm-5 control-label">
                                                    <label class="control-label">Tratamiento de la imagen</label>
                                                </span>
                                                <div class="col-sm-7">
                                                    <select name="modoRecortar" class="form-control">
                                                        <option value="ajustar">Imagen completa</option>                            
                                                        <option value="center">Recortar al centro</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <span>Imagen Master ({{values.varEnvMod.images[1].width}} x {{values.varEnvMod.images[1].height}}):&nbsp;</span>
                                            <input name="MAX_FILE_SIZE" value="{{values.varEnvMod.maxSizes.image}}" type="hidden"  />      
                                            <input name="imagenMaster" id="imagenMaster" type="file" class="file"
                                                   onchange="
                                                           $('#action_{{ values.controller }}').val('Imagen');
                                                           $('#accion_{{ values.controller }}').val('EnviarMaster');
                                                           loading('botonSubmitImagen');
                                                           $('#manto_{{ values.controller}}').submit();" 
                                                   />                                   
                                        </div>
                                        <div id="foto" style="float: left;">
                                            <div id="botonSubmitImagen"></div>
                                        </div>
                                    </div>
                                {% endif %}

                                <table class="table table-striped">
                                    {% for key,imagen in values.datos.getDocuments('image%','IsThumbnail=0') %}
                                        {% set puntero = key + 1%}
                                        <tr>
                                            <td>
                                                <h3 class="text-center">{{values.varEnvMod.images[puntero].caption}}</h3>
                                                <div class="form-group">
                                                    <span class="col-sm-5 control-label">
                                                        <label class="control-label">Tratamiento de la imagen</label>
                                                    </span>
                                                    <div class="col-sm-7">
                                                        <select name="image[{{puntero}}][modoRecortar]" id="image_{{puntero}}_modoRecortar" class="form-control">
                                                            <option value="ajustar">Imagen completa</option>                            
                                                            <option value="center">Recortar al centro</option>
                                                        </select>
                                                    </div>
                                                </div>

                                                <input name="image[{{puntero}}][Tipo]" id="image_{{puntero}}_Tipo" value="{{imagen.Type}}" type="hidden" />
                                                <input name="image[{{puntero}}][Id]" id="image_{{puntero}}_Id" value="{{imagen.Id}}" type="hidden" />
                                                <input name="image[{{puntero}}][SortOrder]" id="image_{{puntero}}_SortOrder" value="{{imagen.SortOrder}}" type="hidden" />                              
                                                <div class="subirNuevoArchivo">
                                                    {% if idiomas.actual == 0 %}
                                                        <input name="MAX_FILE_SIZE" value="{{values.varEnvMod.maxSizes.image}}" type="hidden"  />
                                                        <input name="image{{puntero}}" id="imagen_{{puntero}}_Doc" type="file" class="file"/>
                                                    {% endif %}
                                                </div>

                                                {{ macro.input({'caption':'Título','visible':values.varEnvMod.images[puntero].mostrarTitulo,'varEnv':'0'},'EtiquetaMedia','text','image['~puntero~'][Title]','image_'~puntero~'_Title',imagen.Title,255,'CampoTextoMedio') }}
                                                {{ macro.input({'caption':'Nombre','visible':values.varEnvMod.images[puntero].mostrarNombre,'varEnv':'0'},'EtiquetaMedia','text','image['~puntero~'][Name]','image_'~puntero~'_Name',imagen.Name,255,'CampoTextoMedio') }}
                                                {{ macro.input({'caption':'Mostrar pie de foto','visible':values.varEnvMod.images[puntero].mostrarPieDeFoto,'varEnv':'0'},'EtiquetaMedia','checkbox','image['~puntero~'][ShowCaption]','image_'~puntero~'_ShowCaption',imagen.ShowCaption.IDTipo,'255','CampoTextoLargo') }}
                                                {{ macro.input({'caption':'Publicar','visible':values.varEnvMod.images[puntero].mostrarPublicar,'varEnv':'0'},'EtiquetaMedia','checkbox','image['~puntero~'][Publish]','image_'~puntero~'_Publish',imagen.Publish.IDTipo,'255','CampoTextoLargo') }}

                                                <div class="actions btn-set text-center" id="botonera{{puntero}}">
                                                    <button class="btn"
                                                           onclick="
                                                                   $('#action_{{ values.controller }}').val('Imagen');
                                                                   $('#accion_{{ values.controller }}').val('GuardarCambios');
                                                                   $('#idImagenEnviar').val('{{puntero}}');
                                                                   loading('botonera{{puntero}}');
                                                                   submitForm('manto_{{ values.controller}}');">
                                                       <i class="fa fa-save"></i>&nbsp;Guardar cambios
                                                   </button>
                                                    {% if idiomas.actual == 0 %}
                                                        <button class="btn"
                                                               onclick="
                                                                       if (!confirm('¿Desea borrar la imagen?')) {
                                                                           return false;
                                                                       }
                                                                       else {
                                                                           $('#action_{{ values.controller }}').val('Imagen');
                                                                           $('#accion_{{ values.controller }}').val('Quitar');
                                                                           $('#idImagenEnviar').val('{{puntero}}');
                                                                           submitForm('manto_{{ values.controller}}');
                                                                       }">
                                                           <i class="fa fa-trash"></i>&nbsp;Borrar imagen                                                            
                                                       </button>

                                                    {% endif %}
                                                </div>                                            
                                            </td>
                                            <td>
                                                <div id="foto{{puntero}}">
                                                    <img style="border: 1px solid;" src="{{project.url}}/{{imagen.PathName}}" width="{% if imagen.Width>350 or imagen.Width == 0%}350px{%else%}{{imagen.Width}}px{%endif%}" />
                                                </div>
                                                <br />{{imagen.getSize|number_format(0)}} bytes 
                                                (
                                                {{imagen.Width}}
                                                {% if (imagen.Width != values.varEnvMod.images[puntero].width) %}
                                                    <img src="{{app.path}}/images/icono_exclamacion.gif" title="La anchura correcta debería ser {{values.varEnvMod.images[puntero].width}}" />
                                                {% endif %}
                                                x 
                                                {{imagen.Height}}
                                                {% if (imagen.Height != values.varEnvMod.images[puntero].height) %}
                                                    <img src="{{app.path}}/images/icono_exclamacion.gif" title="La altura correcta debería ser {{values.varEnvMod.images[puntero].height}}" />                            
                                                {% endif %} 
                                                )                                                   
                                            </td>                                        
                                        </tr>
                                    {% endfor %}  
                                </table>
                            </div>
                        </div>
                    </div>
                {% endif %}

                {# SOLAPA TINY #}
                {% if values.varEnvMod.withTiny == '1' or user.IDPerfil.IDPerfil == '1' %}
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title" id="fc-tiny">
                                <a data-toggle="collapse" data-parent="#acordeonColumnas" href="#fc-divtiny">Imágenes para Tiny ({{datos.getNumberOfDocuments('tiny')}})</a>
                            </h4>
                        </div>
                        <div id="fc-divtiny" class="panel-collapse collapse">
                            <div class="panel-body" id="divTiny"></div>
                        </div>
                    </div>
                {% endif %}

                {# SOLAPA GALERIA #}
                {% if values.varEnvMod.withGalery == '1' or user.IDPerfil.IDPerfil == '1' %}
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title" id="fc-galeria">
                                <a data-toggle="collapse" data-parent="#acordeonColumnas" href="#fc-divgaleria">Galería de imágenes ({{datos.getNumberOfDocuments('galery','IsThumbnail=0')}})</a>
                            </h4>
                        </div>
                        <div id="fc-divgaleria" class="panel-collapse collapse">
                            <div class="panel-body" id="divGaleria"></div>
                        </div>
                    </div>                    
                {% endif %}

                {# SOLAPA DOCUMENTOS #}
                {% if values.varEnvMod.withDocuments == '1' or user.IDPerfil.IDPerfil == '1' %}
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title" id="fc-docs">
                                <a data-toggle="collapse" data-parent="#acordeonColumnas" href="#fc-divdocumentos">Documentos ({{datos.getNumberOfDocuments('document')}})</a>
                            </h4>
                        </div>
                        <div id="fc-divdocumentos" class="panel-collapse collapse">
                            <div class="panel-body" id="divDocs"></div>
                        </div>
                    </div>                     
                {% endif %}

                {# SOLAPA VIDEOS #}
                {% if values.varEnvMod.withVideos == '1' or user.IDPerfil.IDPerfil == '1' %}
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title" id="fc-videos">
                                <a data-toggle="collapse" data-parent="#acordeonColumnas" href="#fc-divvideos">Vídeos ({{datos.getNumberOfDocuments('video')}})</a>
                            </h4>
                        </div>
                        <div id="fc-divvideos" class="panel-collapse collapse">
                            <div class="panel-body" id="divVideos"></div>
                        </div>
                    </div>                        
                {% endif %}

                {# SOLAPA AUDIOS #}
                {% if values.varEnvMod.withAudios == '1' or user.IDPerfil.IDPerfil == '1' %}
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title" id="fc-audios">
                                <a data-toggle="collapse" data-parent="#acordeonColumnas" href="#fc-divaudios">Audios ({{datos.getNumberOfDocuments('audio')}})</a>
                            </h4>
                        </div>
                        <div id="fc-divaudios" class="panel-collapse collapse">
                            <div class="panel-body" id="divAudios"></div>
                        </div>
                    </div>                     
                {% endif %}

                {# SOLAPA URLS #}
                {% if user.IDPerfil.IDPerfil == '1' or values.varEnvMod.showUrlFriendlyManagement == '1' %}
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#acordeonColumnas" href="#fc-url">Url Amigable {% if datos.UrlFriendly %}({{datos.UrlFriendly}}){% endif %}</a>
                            </h4>
                        </div>
                        <div id="fc-url" class="panel-collapse collapse">
                            <div class="panel-body">                     
                                {{ macro.input('Bloqueo Prefijo','Etiqueta','checkbox',values.controller ~ '[LockUrlPrefix]',values.controller ~ '_LockUrlPrefix',datos.LockUrlPrefix.IDTipo,'255','CampoTextoLargo','12') }}
                                {% if datos.LockUrlPrefix.IDTipo == '1' %} {% set disabled = 'DISABLED' %} {% else %} {% set disabled = none %} {% endif %}
                                {{ macro.input('Prefijo','Etiqueta','text',values.controller ~ '[UrlPrefix]',values.controller ~ '_UrlPrefix',datos.UrlPrefix,'255','CampoTextoLargo',112,disabled) }}
                                {{ macro.input('Bloqueo Slug?','Etiqueta','checkbox',values.controller ~ '[LockSlug]',values.controller ~ '_LockSlug',datos.LockSlug.IDTipo,'255','CampoTextoLargo','12') }}
                                {% if datos.LockSlug.IDTipo == '1' %} {% set disabled = 'DISABLED' %} {% else %} {% set disabled = none %} {% endif %}
                                {{ macro.input('Slug','Etiqueta','text',values.controller ~ '[Slug]',values.controller ~ '_Slug',datos.Slug,'255','CampoTextoLargo',112, disabled) }}
                                {{ macro.input('Url Canonical','Etiqueta','text',values.controller ~ '[UrlFriendly]',values.controller ~ '_UrlFriendly',datos.UrlFriendly,'255','CampoTextoLargo',112,'DISABLED') }}
                                {{ macro.input('Es hereditable?','Etiqueta','checkbox',values.controller ~ '[UrlHeritable]',values.controller ~ '_UrlHeritable',datos.UrlHeritable.IDTipo,'255','CampoTextoLargo','12') }}

                                {# SI EL USUARIO ES SUPER, SE MUESTRAN LOS CAMPOS CONTROLLER, ACTION, TEMPLATE y PARAMETERS
                                   QUE ESTAN EN LA TABLA CpanUrlAmigables
                                #}
                                {% if user.IDPerfil.IDPerfil == 1 %}
                                    {% set objetoUrlAmigable = datos.getObjetoUrlAmigable %}
                                    <input name="objetoUrlAmigable[Id]" value="{{objetoUrlAmigable.Id}}" type="hidden" />
                                    {{ macro.input({'caption':'Controller','visible':'1','updatable':'1','varEnv':'0','translatable':'1'},'Etiqueta','text','objetoUrlAmigable[Controller]','CpanUrlAmigables_Controller',objetoUrlAmigable.Controller,'255','CampoTextoLargo','12') }}
                                    {{ macro.input({'caption':'Action','visible':'1','updatable':'1','varEnv':'0','translatable':'1'},'Etiqueta','text','objetoUrlAmigable[Action]','CpanUrlAmigables_Action',objetoUrlAmigable.Action,'255','CampoTextoLargo','12') }}
                                    {{ macro.input({'caption':'Template','visible':'1','updatable':'1','varEnv':'0','translatable':'1'},'Etiqueta','text','objetoUrlAmigable[Template]','CpanUrlAmigables_Template',objetoUrlAmigable.Template,'255','CampoTextoLargo','12') }}
                                    {{ macro.input({'caption':'Parámetros','visible':'1','updatable':'1','varEnv':'0','translatable':'1'},'Etiqueta','text','objetoUrlAmigable[Parameters]','CpanUrlAmigables_Parameters',objetoUrlAmigable.Parameters,'255','CampoTextoLargo','12') }}
                                {% endif %}
                            </div>
                        </div>
                    </div>
                {% endif %}

                {# SOLAPA URL DESTINO #}
                {% if (idiomas.actual == 0) and (user.IDPerfil.IDPerfil == 1 or atributos.UrlTarget.visible == 1 or atributos.UrlParameters.visible == 1 or atributos.UrlRequestMethod.visible == 1 or atributos.UrlOrigin.visible == 1 or atributos.UrlTargetBlank.visible == 1 or atributos.UrlIsHttps.visible == 1) %}
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#acordeonColumnas" href="#fc-target">Url Destino {% if datos.UrlTarget %}({{datos.UrlTarget}}){% endif %}</a>
                            </h4>
                        </div>
                        <div id="fc-target" class="panel-collapse collapse">
                            <div class="panel-body">                    
                                {{ macro.input('Url Destino','Etiqueta','text',values.controller ~ '[UrlTarget]',values.controller ~ '_UrlTarget',datos.UrlTarget,'255','CampoTextoLargo',112) }}
                                {{ macro.input('Parámetros','Etiqueta','text',values.controller ~ '[UrlParameters]',values.controller ~ '_UrlParameters',datos.UrlParameters,'255','CampoTextoLargo',112) }}
                                {{ macro.radio('Método','Etiqueta',values.controller ~ '[UrlRequestMethod]',values.controller ~ '_UrlRequestMethod',datos.UrlRequestMethod.IDTipo,datos.UrlRequestMethod.fetchAll(none,0),'chzn-radio',117)}}
                                {{ macro.radio('Url Origen','Etiqueta',values.controller ~ '[UrlOrigin]',values.controller ~ '_UrlOrigin',datos.UrlOrigin.IDTipo,datos.UrlOrigin.fetchAll(none,0),'chzn-radio',117)}}
                                {{ macro.input('Se abre en otra solapa?','Etiqueta','checkbox',values.controller ~ '[UrlTargetBlank]',values.controller ~ '_UrlTargetBlank',datos.UrlTargetBlank.IDTipo,'255','CampoTextoLargo','12') }}
                                {{ macro.input('Es https?','Etiqueta','checkbox',values.controller ~ '[UrlIsHttps]',values.controller ~ '_UrlIsHttps',datos.UrlIsHttps.IDTipo,'255','CampoTextoLargo','12') }}
                            </div>
                        </div>
                    </div>
                {% endif %}

                {# SOLAPA SITEMAP #}
                {% if (idiomas.actual == 0) and (user.IDPerfil.IDPerfil == '1' or values.varEnvMod.showSiteMapManagement == '1') %}              
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#acordeonColumnas" href="#fc-sitemap">Site Map</a>
                            </h4>
                        </div>
                        <div id="fc-sitemap" class="panel-collapse collapse">
                            <div class="panel-body">
                                {{ macro.input('Mostrar en el SiteMap','Etiqueta','checkbox',values.controller ~ '[ShowOnSitemap]',values.controller ~ '_ShowOnSitemap',datos.ShowOnSitemap.IDTipo,'255','CampoTextoLargo','12') }}
                                {{ macro.input('Importancia','Etiqueta','text',values.controller ~ '[ImportanceSitemap]',values.controller ~ '_ImportanceSitemap',datos.ImportanceSitemap,'5','CampoTextoCorto',120) }}
                                {{ macro.select('Frecuencia de cambio','Etiqueta',values.controller ~ '[ChangeFreqSitemap]',values.controller ~ '_ChangeFreqSitemap',none,datos.ChangeFreqSitemap.IDTipo,datos.ChangeFreqSitemap.fetchAll(none,0),'Select') }}
                            </div>
                        </div>
                    </div>
                {% endif %}

                {# SOLAPA ENTIDADES RELACIONADAS #}
                {% if (idiomas.actual == 0) and (user.IdPerfil.IDPerfil == '1' or values.varEnvMod.modulosRelacionables ) %}
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title" id="fc-relacionar">
                                <a data-toggle="collapse" data-parent="#acordeonColumnas" href="#fc-divrelacionar">Relacionar con ...</a>
                            </h4>
                        </div>
                        <div id="fc-divrelacionar" class="panel-collapse collapse">
                            <div class="panel-body" id="divRelacionar"></div>
                        </div>
                    </div>                      
                {% endif %}

                {# SOLAPA AUDITORIA #}
                {% if (idiomas.actual == 0) and (user.IDPerfil.IDPerfil == 1 or atributos.Checked.visible == 1 or atributos.Privacy.visible == 1 or atributos.NumberVisits.visible == 1 or atributos.DateTimeLastVisit.visible == 1) %}
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#acordeonColumnas" href="#fc-auditoria">Auditoría</a>
                            </h4>
                        </div>
                        <div id="fc-auditoria" class="panel-collapse collapse">
                            <div class="panel-body">
                                {{ macro.input('Validado','Etiqueta','checkbox',values.controller ~ '[Checked]',values.controller ~ '_Checked',datos.Checked.IDTipo,'255','CampoTextoLargo','12') }}
                                {{ macro.radio('Privacidad','Etiqueta',values.controller ~ '[Privacy]',values.controller ~ '_Privacy',datos.Privacy.IDTipo,datos.Privacy.fetchAll(none,0),'Select')}}                                 
                                {% if datos.getPrimaryKeyValue %}
                                    {{ macro.input('Número de visitas','Etiqueta','text',values.controller ~ '[NumberVisits]',values.controller ~ '_NumberVisits',datos.NumberVisits,none,'CampoImporte','disabled') }}
                                    {{ macro.fecha('Fecha última visita','Etiqueta',values.controller ~ '[DateTimeLastVisit]',values.controller ~ '_DateTimeLastVisit',datos.DateTimeLastVisit,19,'datepicker','disabled') }}                        
                                    {{ macro.input('Creado por','Etiqueta','text',values.controller ~ '[CreatedBy]',values.controller ~ '_CreatedBy',datos.CreatedBy,none,none,'disabled') }}
                                    {{ macro.fecha('Fecha creación','Etiqueta',values.controller ~ '[CreatedAt]',values.controller ~ '_CreatedAt',datos.CreatedAt,19,'datepicker','disabled') }}
                                    {{ macro.input('Modificado por','Etiqueta','text',values.controller ~ '[ModifiedBy]',values.controller ~ '_ModifiedBy',datos.ModifiedBy,none,none,'disabled') }}
                                    {{ macro.fecha('Fecha modificación','Etiqueta',values.controller ~ '[ModifiedAt]',values.controller ~ '_ModifiedAt',datos.ModifiedAt,19,'datepicker','disabled') }}

                                    {{ macro.input('Borrado','Etiqueta','text',values.controller ~ '[Deleted]',values.controller ~ '_Deleted',datos.Deleted.Descripcion,none,none,'disabled') }}
                                    {% if datos.Deleted.IDTipo %}
                                        {{ macro.input('Borrado por','Etiqueta','text',values.controller ~ '[DeletedBy]',values.controller ~ '_DeletedBy',datos.DeletedBy,none,none,'disabled') }}
                                        {{ macro.fecha('Fecha borrado','Etiqueta',values.controller ~ '[DeletedAt]',values.controller ~ '_DeletedAt',datos.DeletedAt,19,'datepicker','disabled') }}
                                    {% endif %}
                                {% endif %}
                            </div>
                        </div>
                    </div>
                {% endif %}
            {% endif %}

            {# SOLAPA MOSTRAR... #}
            {% if (idiomas.actual == 0) and (user.IDPerfil.IDPerfil == 1 or atributos.ShowGalery.visible == 1 or atributos.ShowDocuments.visible == 1 or atributos.ShowRelatedLinks.visible == 1 or atributos.ShowRelatedContents == 1) %}
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#acordeonColumnas" href="#fc-mostrar">Mostrar ...</a>
                        </h4>
                    </div>
                    <div id="fc-mostrar" class="panel-collapse collapse">
                        <div class="panel-body">
                            <div>
                                {{ macro.input('Mostrar Galería','Etiqueta','checkbox',values.controller ~ '[ShowGalery]',values.controller ~ '_ShowGalery',datos.ShowGalery.IDTipo,'255','CampoTextoLargo','12') }}
                                {{ macro.input('Mostrar Documentos','Etiqueta','checkbox',values.controller ~ '[ShowDocuments]',values.controller ~ '_ShowDocuments',datos.ShowDocuments.IDTipo,'255','CampoTextoLargo','12') }}
                                {{ macro.input('Mostrar enlaces relacionados','Etiqueta','checkbox',values.controller ~ '[ShowRelatedLinks]',values.controller ~ '_ShowRelatedLinks',datos.ShowRelatedLinks.IDTipo,'255','CampoTextoLargo','12') }}
                                {{ macro.input('Mostrar contenidos relacionados','Etiqueta','checkbox',values.controller ~ '[ShowRelatedContents]',values.controller ~ '_ShowRelatedContents',datos.ShowRelatedContents.IDTipo,'255','CampoTextoLargo','12') }}
                            </div>
                        </div>
                    </div>
                </div>                            
            {% endif %}      

        </div>
    </div>
{% endif %}