{#-- MENU DESPLEGABLE: Necesita menuAzulGris.css -------------------------------#}
{# Recibe un array (menu) con dos dimensiones para contruir el menu desplegable #}
{#------------------------------------------------------------------------------#}

<!--MENU-->
<div id='wrapper'>
    <div id="main-nav">
	<ul id="menu-main-menu" class="sf-menu">
	{% for opcion in menu %}
            <li id="menu-item-2515">
                <a href='#' title="{{opcion.Titulo}}">{{ opcion.Titulo }}</a>

        	<ul class='sub-menu'>
                {% for hijo in opcion.hijos %}
                    <li id="menu-item-815">
                        {% if hijo.hijos %}
                            <div style="float: left; width: 23px;">&nbsp;</div>
                            <div style="float: left;">
                                <a href='#' title="{{hijo.Titulo}}">{{ hijo.Titulo }}</a>   
                            </div>
                        {% else %}
                            <div style="float: left; width: 23px;">
                                <a href='{{app.path}}/{{ hijo.NombreModulo }}' target='_blank' title='Ventana Nueva'><img src='{{app.path}}/images/bolamenu.png' width='12px' height='12px' /></a>
                            </div>
                            <div style="float: left;">
                                <a href='{{app.path}}/{{ hijo.NombreModulo }}' {% if hijo.emergente %}target='_blank'{% endif %}>{{ hijo.Titulo }}</a>
                            </div>
                        {% endif %}
                        
                        {% if hijo.hijos %}
                        <ul class="sub-menu">
                            {% for nieto in hijo.hijos %}
                            <li id="menu-item-815">
                                <div style="float: left; width: 23px;">
                                    <a href='{{app.path}}/{{ nieto.NombreModulo }}' target='_blank' title='Ventana Nueva'><img src='{{app.path}}/images/bolamenu.png' width='12px' height='12px' /></a>
                                </div>
                                <div style="float: left;">
                                    <a href='{{app.path}}/{{ nieto.NombreModulo }}' {% if nieto.emergente %}target='_blank'{% endif %}>{{ nieto.Titulo }}</a>
                                </div>                                
                            </li>
                            {% endfor %}
                        </ul>
                        {% endif %}
                    </li>
                {% endfor %}
                </ul>

            </li>
	{% endfor %}
	</ul>
    </div>
</div>
<!-- FIN MENU-->
<script>

    $(function(){
        $('#menu').menu();
    });
    
</script> 