{# META DATOS #}

{% if user.IDPerfil.IDPerfil == '1' or values.varEnvMod.withMetadata == '1' %}
    <div id="div_metaDatos">
        {% for metaDato in values.metadatos %}
        <div class="Item" id="div_metaDato_{{metaDato.Name}}">
            <span class="Etiqueta">
                {% if (user.IDPerfil.IDPerfil == '1' or values.varEnvMod.deleteMetadata == '1') %}
                    <img src="{{app.path}}/images/botonborrar.png" alt="borrar metadato" title="Borrar metadato"
                         style=cursor:pointer;"
                         onclick="if (!confirm('Al borrar el campo personalizado {{metaDato.Name}} se eliminarán todos los valores asociados. Está seguro?')) {return false;} else {borraMetadato('{{values.controller}}','{{metaDato.Name}}');}"/>
                {% endif %}
                <span>{{metaDato.Name}}</span>
            </span>
            <textarea name="metaDato[{{metaDato.Name}}]" id="metaDato_{{metaDato.Name}}"
                      class="TextAreaMeta"
                      rows="2"
                      columns="75"
                      >{{metaDato.Value}}</textarea>
        </div>                  
        {% endfor %}
    </div>
 
    {% if (user.IDPerfil.IDPerfil == '1' or values.varEnvMod.addMetadata == '1') %}
        <div style="border: solid grey 1px; margin: 10px; padding: 10px;">
            <p style="margin-bottom: 10px;">Aquí puede definir campos personalizados. Elija bien el nombre ya que una vez creado no podrá cambiarlo.</p>
            <div class="Item">
                <span class="EtiquetaMedia">
                    <span>Nombre del campo personalizado</span>
                </span>
                <input id="metaDato_nuevo" type="text" />
            </div>
            <input type="submit" value="Crear campo" onclick="creaMetadato('{{values.controller}}',$('#metaDato_nuevo').val(),'{{datos.getPrimaryKeyValue()}}'); return false;"/>
        </div>
    {% endif %}
    <div id="resultadoMetaDatos" class="oculto"></div>
{% endif %} 
