{# Template edit.html.twig for PedidosCab #}
{# -------------------------------------------------------#}
{# EDITAR UN REGISTRO. ACCIONES: GUARDAR Y BORRAR         #}
{# -------------------------------------------------------#}
{% extends 'PedidosCab/index.html.twig' %}

{% block mantenimiento %}
<div class="FormManto">
    <form name="manto" id="manto_PedidosCab" action=""enctype="multipart/form-data" method="POST">
        <input name="controller" value="PedidosCab" type="hidden" />
        <input name="action" id="action" value="edit" type="hidden" />
        <input name="accion" id="accion_{{values.controller}}" value="" type="hidden" />
        <input name="PedidosCab[IDPedido]" value="{{ values.datos.IDPedido }}" type="hidden" />
        <input name="PedidosCab[IDEstado]" value="{{ values.datos.IDEstado.IDTipo }}" type="hidden" />
        <div class='Comandos'>
            <div class="Titulo">
                Pedido: {{values.datos.IDPedido}} [{{values.datos.IDEstado.Descripcion}}
                {% if values.datos.IDFactura.IDFactura %}
                    <a href="{{app.path}}/FrecibidasCab/Edit/{{values.datos.IDFactura.PrimaryKeyMD5}}" title='Editar Factura'>
                        {{values.datos.IDFactura.NumeroFactura}}
                    </a>
                {% endif %}
                ]
                {% if values.datos.IDEstado.IDTipo == '0' %}
                    {% if values.permisos.permisosModulo['UP'] %}
                        <input type="image" src="{{app.path}}/images/save_cmd.png" width="24px" onclick="getElementById('accion_{{values.controller}}').value='Guardar';" alt="Guardar" title="Guardar" />
                        <input type="image" src="{{app.path}}/images/confirm_cmd.png" width="24px" onclick="if (!confirm('¿Desea confirmar el pedido {{values.datos.IDPedido}}?')) {return false;} else {getElementById('action').value='Confirmar';}" alt="Confirmar" title="Confirmar Pedido" />
                    {% endif %}
                    {% if values.permisos.permisosModulo['DE'] %}
                        <input type="image" src="{{app.path}}/images/trash_cmd.png" width="24px" onclick="if (!confirm('¿Desea borrar el pedido {{values.datos.IDPedido}}?')) {return false;} else {getElementById('accion_{{values.controller}}').value='Borrar';}" alt="Borrar" title="Borrar Pedido" />
                    {% endif %}
                {% endif %}

                {% if values.datos.IDEstado.IDTipo == '1' and values.permisos.permisosModulo['UP'] %}
                    <input type="image" src="{{app.path}}/images/cancel_cmd.png" width="24px" onclick="if (!confirm('¿Desea anular la confirmación del pedido {{values.datos.IDPedido}}?')) {return false;} else {getElementById('action').value='Anular';}" alt="Anular" title="Anular Confirmación" />
                    <a href="javascript:;" target="_blank" onClick="window.open('{{app.path}}/RecepcionarLineas/index/PedidosCab/{{values.datos.IDPedido}}','Recepcionar','width=910,height=600,resizable=yes,scrollbars=yes');">
                        <img src="{{app.path}}/images/expedir_cmd.png" alt="Recepcionar" title="Recepcionar...">
                    </a>
                {% endif %}

                {% if values.datos.IDEstado.IDTipo == '2' and values.permisos.permisosModulo['UP'] %}
                    <img src="{{app.path}}/images/invoice_cmd.png" style="width: 24px; cursor: pointer;" onclick="$('#dialogFacturar').dialog('open');" alt="Facturar" title="Facturar" />
                {% endif %}

                {% if values.permisos.permisosModulo['CO'] %}
                    {{ macro.botonDocumento(app.path,values.controller,values.datos.getPrimaryKeyValue)}}
                    <input type="image" src="{{app.path}}/images/send_cmd.png" width="24px" onclick="getElementById('action').value='Enviar';" alt="Enviar" title="Enviar" />
                {% endif %}

                {% if values.permisos.permisosModulo['IN'] %}
                <input type="image" src="{{app.path}}/images/duplicar_cmd.png" width="24px" onclick="getElementById('action').value='Duplicar';" alt="Duplicar" title="Duplicar" />
                {% endif %}

                {% include '_global/comandosAuditoria.html.twig' with {'controller': values.controller} %}
            </div>

        </div>

        <div class='Cuerpo'>
        {% include "_global/alertas.html.twig" with {'alertas': values.alertas,'errores': values.errores} %}
	{% include "PedidosCab/form.html.twig" with {'datos': values.datos} %}
        </div>
    </form>
</div>

{% include values.controller ~ '/dialogoFacturar.html.twig' with {'pedido': values.datos} %}

{% endblock %}