{# TEMPLATE PedidosCab/form.html.twig       #}
{# Muestra los campos editables de la entidad #}

{% set atributos = values.atributos %}

<div class="CajaIzquierda" style="height: 218px;">

{% if datos.IDEstado.IDTipo == '0' %}
    {{ macro.fecha(atributos.Fecha,'Etiqueta','PedidosCab[Fecha]','PedidosCab_Fecha',datos.Fecha,'10','CampoFecha') }}
    {{ macro.fecha(atributos.FechaEntrega,'Etiqueta','PedidosCab[FechaEntrega]','PedidosCab_FechaEntrega',datos.FechaEntrega,'10','CampoFecha') }}
    {{ macro.fecha(atributos.FechaEntrada,'Etiqueta','PedidosCab[FechaEntrada]','PedidosCab_FechaEntrada',datos.FechaEntrada,'10','CampoFecha','disabled') }}
    {{ macro.select(atributos.IDSucursal,'Etiqueta','PedidosCab[IDSucursal]','PedidosCab_IDSucursal',200,datos.IDSucursal.IDSucursal,datos.IDAgente.getSucursales(emp.IDEmpresa),'Select') }}
    {{ macro.select(atributos.IDAlmacen,'Etiqueta','PedidosCab[IDAlmacen]','PedidosCab_IDAlmacen',200,datos.IDAlmacen.IDAlmacen,datos.IDAgente.getAlmacenes(emp.IDEmpresa),'Select') }}
    <div class="Item" id="div_PedidosCab_RazonSocial">
        <input name="PedidosCab[IDProveedor]" id="PedidosCab_IDProveedor" value="{{datos.IDProveedor.IDProveedor}}" type="hidden"/>
        <div class="Etiqueta">Proveedor</div>
        <input value="{{datos.IDProveedor.RazonSocial}}" id="RazonSocial" type="text" maxlength="50" class="CampoTextoLargo"
               onkeyup="autoCompletar('RazonSocial','PedidosCab_IDProveedor','RazonSocial','proveedores','',['div_PedidosCab_IDFP','PedidosCab_IDFP','PedidosCab[IDFP]','formaspagoproveedor']);"/>
        {% if datos.IDProveedor.IDProveedor %}
        {{ macro.historicoCompras(app.path,0,datos.IDProveedor.IDProveedor) }}
        {% endif %}
    </div>
    {{ macro.select(atributos.IDFP,'Etiqueta','PedidosCab[IDFP]','PedidosCab_IDFP',200,datos.IDFP.IDFP,datos.IDFP.fetchAll('Descripcion'),'Select') }}
    {{ macro.select(atributos.IDAgencia,'Etiqueta','PedidosCab[IDAgencia]','PedidosCab_IDAgencia',200,datos.IDAgencia.IDAgencia,datos.IDAgencia.fetchAll('Agencia'),'Select') }}
    {{ macro.input(atributos.SuPedido,'Etiqueta','text','PedidosCab[SuPedido]','PedidosCab_SuPedido',datos.SuPedido,'15','CampoTextoMedio') }}
    {{ macro.input(atributos.Referencia,'Etiqueta','text','PedidosCab[Referencia]','PedidosCab_Referencia',datos.Referencia,'15','CampoTextoMedio') }}
    {{ macro.select(atributos.Deposito,'Etiqueta','PedidosCab[Deposito]','PedidosCab_Deposito',none,datos.Deposito.IDTipo,datos.Deposito.fetchAll,'Select') }}
    {{ macro.foco('RazonSocial') }}
{% else %}
    {{ macro.etiqueta(atributos.Fecha,'Etiqueta',datos.Fecha ) }}
    {{ macro.etiqueta(atributos.FechaEntrega,'Etiqueta',datos.FechaEntrega ) }}
    {{ macro.etiqueta(atributos.FechaEntrada,'Etiqueta',datos.FechaEntrada ) }}
    {{ macro.etiqueta(atributos.IDSucursal,'Etiqueta',datos.IDSucursal.Nombre) }}
    {{ macro.etiqueta(atributos.IDAlmacen,'Etiqueta',datos.IDAlmacen.Nombre) }}
    {{ macro.etiqueta(atributos.IDProveedor,'Etiqueta',datos.IDProveedor.RazonSocial) }}
    {{ macro.etiqueta(atributos.IDFP,'Etiqueta',datos.IDFP.Descripcion ) }}
    {{ macro.etiqueta(atributos.IDAgencia,'Etiqueta',datos.IDAgencia.Agencia ) }}
    {{ macro.etiqueta(atributos.SuPedido,'Etiqueta',datos.SuPedido ) }}
    {{ macro.etiqueta(atributos.Referencia,'Etiqueta',datos.Referencia ) }}
    {{ macro.etiqueta(atributos.Deposito,'Etiqueta',datos.Deposito ) }}
{% endif %}
</div>

{% if datos.IDPedido %}
<div class="CajaTotales" style="height: 218px;">
    <div id="tabs" class="ui-tabs ui-widget ui-widget-content ui-corner-all">
        <ul class="ui-tabs-nav ui-helper-reset ui-helper-clearfix ui-widget-header ui-corner-all">
            <li class="ui-state-default ui-corner-top ui-tabs-selected ui-state-active"><a href="#tabs-1">Importes</a></li>
            <li class="ui-state-default ui-corner-top"><a href="#tabs-2">{% if datos.Observaciones %}<b>{% endif %}Observaciones{% if datos.Observaciones %}</b>{% endif %}</a></li>
            <li class="ui-state-default ui-corner-top"><a href="#tabs-3">{% if datos.Incidencias %}<b>{% endif %}Incidencias{% if datos.Incidencias %}</b>{% endif %}</a></li>
            <li class="ui-state-default ui-corner-top"><a href="#tabs-4">Docs</a></li>
        </ul>
        <div id="tabs-1" class="ui-tabs-panel ui-widget-content ui-corner-bottom">
            {% include values.controller ~ "/totales.html.twig" with {'datos': datos}%}
        </div>
        <div id="tabs-2" class="ui-tabs-panel ui-widget-content ui-corner-bottom ui-tabs-hide">
            {{ macro.textarea('Observaciones','Etiqueta','PedidosCab[Observaciones]','PedidosCab_Observaciones',datos.Observaciones,none,none,'TextArea')}}
        </div>
        <div id="tabs-3" class="ui-tabs-panel ui-widget-content ui-corner-bottom ui-tabs-hide">
            {{ macro.etiqueta('Incidencias Recep.','Etiqueta',datos.Incidencias) }}
            <div style="clear: both;"></div>
        </div>
        <div id="tabs-4" class="ui-tabs-panel ui-widget-content ui-corner-bottom ui-tabs-hide">
            {{ macro.documentos(values.controller,datos.getPrimaryKeyValue)}}
        </div>
    </div>
</div>

<iframe width="100%" height="327" scrolling="yes" style="margin-top:5px; border:0;"
    src="{{app.path}}/PedidosLineas/list/{{datos.IDPedido}}">
</iframe>
{% endif %}