{# Template list.html.twig for PedidosCab #}
{# -------------------------------------------------------#}
{% extends 'PedidosCab/index.html.twig' %}

{% block listado %}
<div class='Listado'>
	{% include '_global/paginacion.html.twig' with {'filter':values.listado.filter,'controller':'PedidosCab','position':'izq'}%}
        <table width='100%'>
            <tr class='Titulos'>
                <td width='16px'>&nbsp;</td>
                <td class='Item'>Número</td>
                <td class='Item'>Sucursal</td>
                <td class='Item'>Almacén</td>
                <td class='Item'>Fecha Pedido</td>
                <td class='Item'>Fecha Prev</td>
                <td class='Item'>Fecha Recep</td>
                <td class='Item'>Proveedor</td>
                <td class='Item'>Estado</td>
                <td class='Item'>Factura</td>
                <td class='Item'>Total</td>
            </tr>

            <tbody class="Cuerpo">
            {% for key,objeto in values.listado.data %}
                {% if (key is even) %}
                    {% set classFila = 'Impar' %}
                {% else %}
                    {% set classFila = 'Par' %}
                {% endif %}
                <tr onclick="location.href='{{app.path}}/{{values.controller}}/edit/{{objeto.PrimaryKeyMD5}}'" class='{{classFila}}' style="cursor: pointer;">
                <td>
                    <a href='{{app.path}}/PedidosCab/Edit/{{objeto.PrimaryKeyMD5}}' title='Editar ...'>
                        <img src="{{app.path}}/images/botoneditar.png" width="16px" height="16px" />
                    </a>
                </td>
                <td align="right">{{objeto.IDPedido}}</td>
                <td>{{objeto.IDSucursal.Nombre|slice(0,15)}}</td>
                <td>{{objeto.IDAlmacen.Nombre|slice(0,15)}}</td>
                <td>{{objeto.Fecha}}</td>
                <td>{{objeto.FechaEntrega}}</td>
                <td>{{objeto.FechaEntrada}}</td>
                <td>{{objeto.IDProveedor.RazonSocial|slice(0,38)}}</td>
                <td align="center">
                    {% if objeto.IDEstado.IDTipo == '0' %}{% set img = "botonrojoparpadea.gif" %}{% endif %}
                    {% if objeto.IDEstado.IDTipo == '1' %}{% set img = "bolanaranja.gif" %}{% endif %}
                    {% if objeto.IDEstado.IDTipo >= '2' %}{% set img = "bolaverde.gif" %}{% endif %}
                    <img src='{{app.path}}/images/{{img}}' width="10px" height="10px" alt='{{objeto.IDEstado}}' title='{{objeto.IDEstado}}'/>
                </td>
                <td>
                    {% if objeto.IDFactura.IDFactura %}
                        <a href="{{app.path}}/FrecibidasCab/Edit/{{objeto.IDFactura.PrimaryKeyMD5}}" title='Editar Factura'>
                            {{objeto.IDFactura.NumeroFactura}}
                        </a>
                    {% endif %}
                </td>
                <td align="right">{{objeto.Total}}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
</div>
{% endblock %}