{# TEMPLATE TraspasosCab/form.html.twig #}
{# Muestra los campos editables de la entidad #}

{% set atributos = values.atributos %}

{% if not datos.IDTraspaso %}
    {% set sucursalDefecto = suc %}
{% else %}
    {% set sucursalDefecto = datos.IDSucursal.IDSucursal %}
{% endif %}

<div>
{% if datos.IDEstado.IDTipo == '0' %}
    <div style="float: left; width: 49%">
    {% if datos.IDTraspaso %}
    {{ macro.etiqueta(atributos.IDSucursal,'Etiqueta',datos.IDSucursal.Nombre) }}
    {% else %}
    <div class="Item" id="div_TraspasosCab_IDSucursal">
        <div class="Etiqueta">Sucursal</div>
        <select name="TraspasosCab[IDSucursal]" id="TraspasosCab_IDSucursal" size="1" class="Select"
                onchange="DesplegableAjax('div_TraspasosCab_IDContador','TraspasosCab_IDContador','TraspasosCab[IDContador]','contadorTraspasos',this.value);"
        >
        {% for value in user.getSucursales(emp.IDEmpresa) %}
            <option value="{{ value.Id }}" {% if (value.Id==sucursalDefecto) %} SELECTED {%endif%}>{{value.Value}}</option>
        {% endfor %}
        </select>
    </div>
    {% endif %}
    {% if not datos.IDTraspaso %}
    {{ macro.select(atributos.IDContador,'Etiqueta','TraspasosCab[IDContador]','TraspasosCab_IDContador',40,datos.IDContador.IDContador,datos.IDContador.fetchAll(sucursalDefecto,3),'Select') }}
    {% endif %}
        {{ macro.fecha(atributos.FechaOrden,'Etiqueta','TraspasosCab[FechaOrden]','TraspasosCab_FechaOrden',datos.FechaOrden,'10','CampoFecha') }}
        {{ macro.fecha(atributos.FechaSalida,'Etiqueta','TraspasosCab[FechaSalida]','TraspasosCab_FechaSalida',datos.FechaSalida,'10','CampoFecha','disabled') }}
        {{ macro.fecha(atributos.FechaEntrada,'Etiqueta','TraspasosCab[FechaEntrada]','TraspasosCab_FechaEntrada',datos.FechaEntrada,'10','CampoFecha','disabled') }}
    </div>
    <div style="float: right; width: 49%">
        {{ macro.select(atributos.IDAlmacenOrigen,'Etiqueta','TraspasosCab[IDAlmacenOrigen]','TraspasosCab_IDAlmacenOrigen',200,datos.IDAlmacenOrigen.IDAlmacen,user.getAlmacenes(emp.IDEmpresa),'Select') }}
        {{ macro.select(atributos.IDAlmacenDestino,'Etiqueta','TraspasosCab[IDAlmacenDestino]','TraspasosCab_IDAlmacenDestino',200,datos.IDAlmacenDestino.IDAlmacen,user.getAlmacenes(emp.IDEmpresa),'Select') }}
        {{ macro.textarea(atributos.Descripcion,'Etiqueta','TraspasosCab[Descripcion]','TraspasosCab_Descripcion',datos.Descripcion,none,none,'TextArea')}}
    </div>
{% else %}
    <div style="float: left; width: 49%">
        {{ macro.etiqueta(atributos.FechaOrden,'Etiqueta',datos.FechaOrden ) }}
        {{ macro.etiqueta(atributos.FechaSalida,'Etiqueta',datos.FechaSalida ) }}
        {{ macro.etiqueta(atributos.FechaEntrada,'Etiqueta',datos.FechaEntrada ) }}
    </div>
    <div style="float: right; width: 49%">
        {{ macro.etiqueta(atributos.IDAlmacenOrigen,'Etiqueta',datos.IDAlmacenOrigen.Nombre ) }}
        {% if datos.IDEstado.IDTipo == '1' %}
            {{ macro.select(atributos.IDAlmacenDestino,'Etiqueta','TraspasosCab[IDAlmacenDestino]','TraspasosCab_IDAlmacenDestino',none,datos.IDAlmacenDestino.IDAlmacen,user.getAlmacenes(emp.IDEmpresa),'Select') }}
        {% else %}
            {{ macro.etiqueta(atributos.IDAlmacenDestino,'Etiqueta',datos.IDAlmacenDestino.Nombre ) }}
        {% endif %}
        {{ macro.textarea(atributos.Descripcion,'Etiqueta','TraspasosCab[Descripcion]','TraspasosCab_Descripcion',datos.Descripcion,none,none,'TextArea')}}
    </div>
{% endif %}
</div>

{% if datos.IDTraspaso %}
<div style="clear: both;"></div>
<div style="font-size: 10px; margin-top: 10px;">
    <div id="tabs" class="ui-tabs ui-widget ui-widget-content ui-corner-all">
        <ul class="ui-tabs-nav ui-helper-reset ui-helper-clearfix ui-widget-header ui-corner-all">
            <li class="ui-state-default ui-corner-top ui-tabs-selected ui-state-active"><a href="#tabs-1">Salida de <b>{{datos.IDAlmacenOrigen.Nombre}}</b></a></li>

            {% if (datos.IDEstado.IDTipo == 3) %}
            <li class="ui-state-default ui-corner-top"><a href="#tabs-2">Entrada en <b>{{datos.IDAlmacenDestino.Nombre}}</b></a></li>
            {% endif %}

            {% if (user.Rol.IDTipo == 0) or (user.rol.IDTipo == 9) %}
            <li class="ui-state-default ui-corner-top"><a href="#tabs-3">Importes</a></li>
            {% endif %}

            <li class="ui-state-default ui-corner-top"><a href="#tabs-4">{% if datos.Observaciones %}<b>{% endif %}Observaciones{% if datos.Observaciones %}</b>{% endif %}</a></li>
            <li class="ui-state-default ui-corner-top"><a href="#tabs-5">{% if datos.Incidencias %}<b>{% endif %}Incidencias{% if datos.Incidencias %}</b>{% endif %}</a></li>
            <li class="ui-state-default ui-corner-top"><a href="#tabs-6">Documentos</a></li>
        </ul>
        <div id="tabs-1" class="ui-tabs-panel ui-widget-content ui-corner-bottom">
            <iframe width="100%" height="230" scrolling="yes" style="margin-top:5px; border:0;"
                src="{{app.path}}/TraspasosLineas/list/{{datos.IDTraspaso}}/0">
            </iframe>
        </div>
        {% if (datos.IDEstado.IDTipo == 3) %}
        <div id="tabs-2" class="ui-tabs-panel ui-widget-content ui-corner-bottom ui-tabs-hide">
            <iframe width="100%" height="230" scrolling="yes" style="margin-top:5px; border:0;"
                src="{{app.path}}/TraspasosLineas/list/{{datos.IDTraspaso}}/1">
            </iframe>
        </div>
        {% endif %}
        {% if (user.Rol.IDTipo == 0) or (user.rol.IDTipo == 9) %}
        <div id="tabs-3" class="ui-tabs-panel ui-widget-content ui-corner-bottom ui-tabs-hide">
            <div style="width: 30%;float:left; margin-right: 5px;">
            {{ macro.input('Unidades','Etiqueta','text','TraspasosCab[Bultos]','TraspasosCab_Bultos',datos.Bultos,'10','CampoImporte','disabled') }}
            {{ macro.input('Peso','Etiqueta','text','TraspasosCab[Peso]','TraspasosCab_Peso',datos.Peso,'10','CampoImporte','disabled') }}
            {{ macro.input('Volumen','Etiqueta','text','TraspasosCab[Volumen]','TraspasosCab_Volumen',datos.Volumen,'10','CampoImporte','disabled') }}
            {{ macro.input('Costo (1)(pmc)','Etiqueta','text','TraspasosCab[TotalCosto]','TraspasosCab_TotalCosto',datos.TotalCosto,'10','CampoImporte','disabled') }}
            </div>

            <div style="width: 33%;float:left; margin-right: 5px;">
            {{ macro.input('Gastos Transporte','Etiqueta','text','TraspasosCab[GastosTransporte]','TraspasosCab_GastosTransporte',datos.GastosTransporte,'10','CampoImporte') }}
            {{ macro.input('Gastos Varios','Etiqueta','text','TraspasosCab[GastosVarios]','TraspasosCab_GastosVarios',datos.GastosVarios,'10','CampoImporte') }}
            {{ macro.input('Total Gastos (2)','Etiqueta','text','TraspasosCab[TotalGastos]','TraspasosCab_TotalGastos',datos.TotalGastos,'10','CampoImporte','disabled') }}
            </div>

            <div style="width: 33%;float:left; margin-right: 5px; text-align: center;">
                {{ macro.input('Total coste (1)+(2)','Etiqueta','text',none,none,(datos.TotalCosto+datos.TotalGastos)|number_format(2,'.',','),10,'CampoImporte', 'disabled' ) }}
                <p style="margin-top: 15px; font-size: 11px;text-align: left;">
                    El costo del traspaso (1) se calcula en base al precio medio de costo de los productos traspasados
                </p>
            </div>
            <div style="clear:both;"></div>
        </div>
        {% endif %}
        <div id="tabs-4" class="ui-tabs-panel ui-widget-content ui-corner-bottom ui-tabs-hide">
            {{ macro.textarea(none,'Etiqueta','TraspasosCab[Observaciones]','TraspasosCab_Observaciones',datos.Observaciones,none,none,'TextArea')}}
        </div>
        <div id="tabs-5" class="ui-tabs-panel ui-widget-content ui-corner-bottom ui-tabs-hide">
            {{ macro.textarea('Incidencias Recep.','Etiqueta','TraspasosCab[Incidencias]','TraspasosCab_Incidencias',datos.Incidencias,none,none,'TextArea')}}
        </div>
        <div id="tabs-6" class="ui-tabs-panel ui-widget-content ui-corner-bottom ui-tabs-hide">
            {{ macro.documentos(values.controller,datos.getPrimaryKeyValue)}}
        </div>
    </div>
</div>

{% endif %}