{# TraspasosCab/email.html.twig                                       #}
{# MUESTRA EN UN IFRAME EL ARCHIVO RECIBIDO, NORMALMENTE SERA UN PDF  #}
{# PERO PUEDE SER DE CUALQUIER TIPO: EXCEL, WORD, IMAGEN, ETC         #}
{# -------------------------------------------------------------------#}
{% extends values.controller ~ '/index.html.twig' %}

{% block email %}

{% if values.resultadoEnvio %}
    <div class='Subtitulo'>{{ values.resultadoEnvio }}</div>
{% else %}
<div class='Subtitulo'>Enviar orden de traspaso por email</div>
<div class="FormManto">
    <div class="Cuerpo">
        <div class="Izquierda">
            <form name="enviar" action="" method="POST" enctype="multipart/form-data">
            <input name="controller" value="{{values.controller}}" type="hidden">
            <input name="action" value="enviar" type="hidden">
            <input name="Adjunto" value="{{values.archivo}}" type="hidden">
            <input name="De" value="{{values.email.De}}" type="hidden">
            <input name="DeNombre" value="{{values.email.DeNombre}}" type="hidden"/>
            <input name="TraspasosCab[IDTraspaso]" value="{{values.email.idTraspaso}}" type="hidden"/>
            {{ macro.input('Para','Etiqueta','text','Para','Para',values.email.Para,'255','CampoTextoLargo') }}
            {{ macro.input('Con Copia','Etiqueta','text','Cc','Cc',values.email.Cc,'255','CampoTextoLargo') }}
            {{ macro.input('Asunto','Etiqueta','text','Asunto','Asunto',values.email.Asunto,'255','CampoTextoLargo') }}
            {{ macro.select('Adjuntar','Etiqueta','Formato','Formato',none,values.email.Formato,values.email.Formatos,'Select',none,'submit();') }}
            {{ macro.textarea('Mensaje','Etiqueta','Mensaje','Mensaje',values.email.Mensaje,none,none,'TextArea')}}
            <p style="text-align:center; margin-top:10px;">
                <input name="accion"  value="Enviar" type="submit" class="Comando" />
            </p>
            </form>
        </div>

        <div style="float:right; width:450px;">
            <iframe width="100%" height="400" src="{{app.path}}/{{values.archivo}}"></iframe>
        </div>
    </div>
</div>
{% endif %}
{% endblock %}