{#
  Module: BlogComentarios
  Document : modules\BlogComentarios\list.html.twig

  author: Sergio Pérez <sergio.perez@albatronic.com>
  copyright: INFORMATICA ALBATRONIC SL
  date 21.02.2013 21:32:01
#}

{% extends values.controller  ~ '/index.html.twig' %}

{% block listado %}

<div class='Listado'>
    {% include '_global/paginacion.html.twig' with {'filter': values.listado.filter, 'controller': values.controller, 'position': 'izq'}%}

    <div id="Listado">
    <table class="table">
        <thead>
        <tr>
            <th>&nbsp;</th>            
            <th>Contenido</th>
            <th>Título</th>
            <th>Usuario</th> 
            <th>Fecha</th>             
            <th>Ip</th>   
            <th>Publicar</th> 
            <th>Chequeado</th> 
            <th>Comentario</th> 
        </tr>
        </thead>

        <tbody class='Cuerpo'>
        {% for key,objeto in values.listado.data %}
            <tr style="height: 20px;">
                <td>
                    <a class="btn-edit" href='{{app.path}}/{{values.controller}}/Edit/{{objeto.getPrimaryKeyMD5()}}' title='Editar'>
                        <i class="fa fa-pencil"></i>
                    <a>
                </td>
                <td>{{objeto.Entidad}}</td>  
                <td>{{macro.recortaTexto(objeto.objetoAsociado,35)}}</td>  
                <td>{{objeto.Nombre}}</td> 
                <td>{{objeto.TiempoUnix|date('d/m/Y H:i')}}</td>                
                <td>{{objeto.IpAddress}}</td>                                
                <td>{{macro.actualizaColumna(values.controller,objeto.getPrimaryKeyValue,'Publish',objeto.Publish.IDTipo,'Publicar/Despublicar')}} </td>                                              
                <td>{{macro.actualizaColumna(values.controller,objeto.getPrimaryKeyValue,'Checked',objeto.Checked.IDTipo,'Validar')}} </td>                                              
                <td>{{objeto.Comentario}}</td>                  
            </tr>
        {% endfor %}
        </tbody>
    </table>
    </div>        
</div>
{% endblock %}