{# Template list.html.twig for Provincias #}
{# -------------------------------------------------------#}
{% extends 'Provincias/index.html.twig' %}

{% block listado %}
<div class='Listado'>
    {% include '_global/paginacion.html.twig' with {'filter':values.listado.filter,'controller':'Provincias','position':'izq'}%}
    <table class="table">
        <thead>
        <tr>
            <th width='16px'>&nbsp;</th>
            <th>País</th>
            <th>Código</th>
            <th>Provincia</th>
            <th>Zona de Transporte</th>
        </tr>
        </thead>

        <tbody class="Cuerpo">
        {% for key,objeto in values.listado.data %}
            <tr>
            <td>
                <a class="btn-edit" href='{{app.path}}/{{values.controller}}/Edit/{{objeto.getPrimaryKeyMD5()}}' title='Editar'>
                    <i class="fa fa-pencil"></i>
                <a>
            </td>
            <td>{{objeto.IDPais.Pais}}</td>
            <td>{{objeto.Codigo}}</td>
            <td>{{objeto.Provincia}}</td>
            <td>
                <select class="form-control" id="zona{{key}}"  onchange="actualizaColumna('Provincias','{{objeto.PrimaryKeyValue}}','IDZona',$('#zona{{key}}').val());">
                    {% for zona in objeto.IDZona.fetchAll('Zona') %}
                        <option value="{{zona.Id}}" {%if zona.Id == objeto.IDZona.IDZona%} SELECTED{%endif%}>{{zona.Value}}</option>
                    {% endfor %}
                </select>
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}