{# Template list.html.twig for Provincias #}
{# -------------------------------------------------------#}
{% extends 'Provincias/index.html.twig' %}

{% block listado %}
<div class='Listado'>
    {% include '_global/paginacion.html.twig' with {'filter':values.listado.filter,'controller':'Provincias','position':'izq'}%}
    <table width='100%'>
        <tr class='Titulos'>
            <td width='16px'>&nbsp;</td>
            <td class='Item'>País</td>
            <td class='Item'>Código</td>
            <td class='Item'>Provincia</td>
            <td class='Item'>Zona de Transporte</td>
        </tr>

        <tbody class="Cuerpo">
        {% for key,objeto in values.listado.data %}
            {% if (key is even) %}
                {% set classFila = 'Impar' %}
            {% else %}
                {% set classFila = 'Par' %}
            {% endif %}
            <tr class='{{classFila}}'>
            <td>
                <a href='{{app.path}}/Provincias/Edit/{{objeto.PrimaryKeyMD5}}' title='Editar ...'>
                    <img src="{{app.path}}/images/botoneditar.png" width="16px" height="16px" />
                </a>
            </td>
            <td>{{objeto.IDPais.Pais}}</td>
            <td>{{objeto.Codigo}}</td>
            <td>{{objeto.Provincia}}</td>
            <td>
                <select id="zona{{key}}" style="width: 200px" onchange="actualizaColumna('Provincias','{{objeto.PrimaryKeyValue}}','IDZona',$('#zona{{key}}').val());">
                    {% for zona in objeto.IDZona.fetchAll('Zona') %}
                        <option value="{{zona.Id}}" {%if zona.Id == objeto.IDZona.IDZona%} SELECTED{%endif%}>{{zona.Value}}</option>
                    {% endfor %}
                </select>
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}