{# Template edit.html.twig for RutasReparto #}
{# -------------------------------------------------------#}
{# EDITAR UN REGISTRO. ACCIONES: GUARDAR Y BORRAR         #}
{# -------------------------------------------------------#}
{% extends values.controller  ~ '/index.html.twig' %}

{% block mantenimiento %}
<div class="FormManto">
    <form name="manto" id="manto_{{ values.controller }}" action="" enctype="multipart/form-data" method="POST">
        <input name="controller" value="{{ values.controller }}" type="hidden" />
        <input name="action" id="action" value="edit" type="hidden" />
        <input name="{{ values.controller }}[IDRuta]" value="{{ values.datos.IDRuta }}" type="hidden" />
        <input name="accion" id="accion_{{values.controller}}" value="" type="hidden" />
        <div class='Comandos'>
            <div class="Titulo">
                <div style="float: left;">
                {% if values.permisos.permisosModulo['UP'] %}
                <input type="image" src="{{app.path}}/images/save_cmd.png" width="24px" onclick="getElementById('accion_{{values.controller}}').value='Guardar';" alt="Guardar" title="Guardar" />
                {% endif %}
                {% if values.permisos.permisosModulo['DE'] %}
                <input type="image" src="{{app.path}}/images/trash_cmd.png" width="24px" onclick="if (!confirm('¿Desea borrar el registro?')) {return false;} else {getElementById('accion_{{values.controller}}').value='Borrar';}" alt="Borrar" title="Borrar" />
                {% endif %}
                {% if values.permisos.permisosModulo['CO'] %}
                <input type="image" src="{{app.path}}/images/print_cmd.png" width="24px" onclick="getElementById('action').value='Listado';" alt="Imprimir" title="Imprimir Ruta" />
                {% endif %}
                </div>
                {% include '_global/comandosAuditoria.html.twig' with {'controller': values.controller} %}
                <div style="clear: both;"></div>
            </div>
        </div>

        <div class='Cuerpo'>
            {% include "_global/FormErrores.html.twig" with {'errores': values.errores} %}
            {% include "_global/alertas.html.twig" with {'alertas': values.alertas} %}
            {% include values.controller ~ "/form.html.twig" with {'datos': values.datos} %}
        </div>
    </form>
</div>
{% endblock %}