{#
  Module: ErpEmailBox
  Document : modules\ErpEmailBox\list.html.twig

  author: Sergio Pérez <sergio.perez@albatronic.com>
  copyright: INFORMATICA ALBATRONIC SL
  date 05.10.2013 14:37:09
#}

{% extends values.controller  ~ '/index.html.twig' %}

{% block listado %}
<div class='Listado'>

	{% include '_global/paginacion.html.twig' with {'filter':values.listado.filter,'controller': values.controller,'position':'izq'}%}
        <div id="Listado">
        <table width="100%">
            <tr class='Titulos'>
                <td></td>
                <td class='Item'>Fecha</td>
                <td class='Item'>Remitente</td>
                <td class='Item'>Para</td>
                <td class='Item'>Asunto</td>
                <td class='Item'>Envío Ok</td>
            </tr>

            <tbody class='Cuerpo'>
            {% for key,objeto in values.listado.data %}
                {% if (key is even) %}
                    {% set classFila = 'Impar' %}
                {% else %}
                    {% set classFila = 'Par' %}
                {% endif %}
            <tr onclick="location.href='{{app.path}}/{{values.controller}}/edit/{{objeto.PrimaryKeyMD5}}'" class='{{classFila}}'>
                <td class='Item'>
                    <a href="{{app.path}}/{{values.controller}}/edit/{{objeto.PrimaryKeyMD5}}" title="Editar...">
                        <img src="{{app.path}}/images/botoneditar.png" width="16px" height="16px" />
                    </a>
                </td>
                <td class='Item'>{{objeto.ModifiedAt}}</td>
                <td class='Item'>{{objeto.De}}</td>
                <td class='Item'>
                    {{objeto.para}}
                    {% if objeto.CC%}<br/>Cc: {{objeto.CC}}{% endif %}
                    {% if objeto.CCO%}<br/>Cco: {{objeto.CCO}}{% endif %}
                </td>
                <td class='Item'>{{objeto.Asunto}}<br/>{{objeto.Mensaje}}</td>
                <td class='Item' style="text-align: center;">{{objeto.Ok}}</td>
            </tr>
            {% else %}
            <tr><td colspan='2'>No hay informaci&oacute;n que cumpla esos criterios</td></tr>
            {% endfor %}
            </tbody>
        </table>
        </div>
</div>
{% endblock %}