{# Template list.html.twig for Fabricantes #}
{# -------------------------------------------------------#}
{% extends 'Fabricantes/index.html.twig' %}

{% block listado %}
    <div class='Listado'>
        {% include '_global/paginacion.html.twig' with {'filter':values.listado.filter,'controller': values.controller,'position':'izq'}%}
        <table id="table-listado" class="table table-striped">
            <thead>
                <tr>
                    <th></th>
                    <th>Título</th>
                    <th>Publicar Web</th>
                    <th>Mostrar en Portada Web</th>
                </tr>
            </thead>

            <tbody>
                {% for key,objeto in values.listado.data %}
                    <tr>
                        <td>
                            {{ macro.ordenarPopup(values.controller,'BelongsTo',objeto.belongsTo,'Titulo')}}&nbsp;                  
                            <a class="btn-edit" href="{{app.path}}/Fabricantes/edit/{{objeto.PrimaryKeyMD5}}" title="Editar...">                       
                                <i class="fa fa-pencil"></i>
                            </a>
                        </td>
                        <td>{{objeto.Titulo|slice(0,28)}}</td>
                        <td class='text-center'>
                            {{ macro.actualizaColumna(values.controller,objeto.getPrimaryKeyValue,'Publish',objeto.Publish.IDTipo,'Publicar/Despublicar')}}  
                        </td>
                        <td class='text-center'>
                            {{ macro.actualizaColumna(values.controller,objeto.getPrimaryKeyValue,'MostrarPortada',objeto.MostrarPortada.IDTipo,'Mostrar en la portada de la web')}}  
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}