{# Template list.html.twig for Fabricantes #}
{# -------------------------------------------------------#}
{% extends 'Fabricantes/index.html.twig' %}

{% block listado %}
<div class='Listado'>
    {% include '_global/paginacion.html.twig' with {'filter':values.listado.filter,'controller': values.controller,'position':'izq'}%}
        <table class="table table-striped">
            <thead>
            <tr class='Titulos'>
                <th></th>
                <th>Título</th>
                <th>Publicar Web</th>
                <th>Mostrar en Portada Web</th>
            </tr>
            </thead>

            <tbody class='Cuerpo'>
            {% for key,objeto in values.listado.data %}
                {% if (key is even) %}
                    {% set classFila = 'Impar' %}
                {% else %}
                    {% set classFila = 'Par' %}
                {% endif %}
            <tr class='{{classFila}}'>
                <td class='Item'>
                    {{ macro.ordenarPopup(values.controller,'BelongsTo',objeto.belongsTo,'Titulo')}}                     
                    <a href="{{app.path}}/Fabricantes/edit/{{objeto.PrimaryKeyMD5}}" title="Editar...">                       
                        <img src="{{app.path}}/images/botoneditar.png" width="16px" height="16px" />
                    </a>
                </td>
                <td>{{objeto.Titulo|slice(0,28)}}</td>
                <td class='text-center'>
                    {{ macro.actualizaColumna(values.controller,objeto.getPrimaryKeyValue,'Publish',objeto.Publish.IDTipo,'Publicar/Despublicar')}}  
                </td>
                <td class='text-center'>
                    {{ macro.actualizaColumna(values.controller,objeto.getPrimaryKeyValue,'MostrarPortada',objeto.MostrarPortada.IDTipo,'Mostrar en la portada de la web')}}  
                </td>
            </tr>
            {% else %}
            <tr><td colspan='4'>No hay informaci&oacute;n que cumpla esos criterios</td></tr>
            {% endfor %}
            </tbody>
        </table>

</div>
{% endblock %}