{# Template list.html.twig for ArticulosEstados #}
{# -------------------------------------------------------#}
{% extends 'ArticulosEstados/index.html.twig' %}

{% block listado %}
<div class='Listado'>
        <table width='100%'>
            <tr class='Titulos'>
                <td class='Item'>Estado</td>
            </tr>

            <tbody class="Cuerpo">
            {% for key,objeto in values.listado.data %}
                {% if (key is even) %}
                    {% set classFila = 'Impar' %}
                {% else %}
                    {% set classFila = 'Par' %}
                {% endif %}
            <tr onclick="location.href='{{app.path}}/{{values.controller}}/edit/{{objeto.IDEstado}}'" class='{{classFila}}'>
                <td><a href="{{app.path}}/ArticulosEstados/edit/{{objeto.PrimaryKeyMD5}}" title="Editar...">{{objeto.Estado}}</a></td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
</div>
{% endblock %}