{# Template edit.html.twig for PstoCab #}
{# -------------------------------------------------------#}
{# EDITAR UN REGISTRO. ACCIONES: GUARDAR Y BORRAR         #}
{# -------------------------------------------------------#}
{% extends values.controller ~ '/index.html.twig' %}

{% block mantenimiento %}
<div class="FormManto">
    <form name="manto_{{values.controller}}" id="manto_{{values.controller}}" action="" enctype="multipart/form-data" method="POST">
        <input name="controller" value="{{ values.controller }}" type="hidden" />
        <input name="action" id="action" value="edit" type="hidden" />
        <input name="accion" id="accion_{{values.controller}}" value="" type="hidden" />
        <input name="documento" id="documento" value="psto" type="hidden" />
        <input name="PstoCab[IDPsto]" id="PstoCab_IDPsto" value="{{ values.datos.IDPsto }}" type="hidden" />
        <input name="PstoCab[IDSucursal]" id="PstoCab_IDSucursal" value="{{ values.datos.IDSucursal.IDSucursal }}" type="hidden" />
        <input name="PstoCab[IDContador]" id="PstoCab_IDContador" value="{{ values.datos.IDContador.IDContador }}" type="hidden" />
        <input name="PstoCab[NumeroPsto]" id="PstoCab_NumeroPsto" value="{{ values.datos.NumeroPsto }}" type="hidden" />
        <input name="PstoCab[IDEstado]" id="PstoCab_IDEstado" value="{{ values.datos.IDEstado.IDTipo }}" type="hidden" />
        <input name="PstoCab[IDAlbaran]" id="PstoCab_IDAlbaran" value="{{ values.datos.IDAlbaran.IDAlbaran }}" type="hidden" />
        <div class='Comandos'>
            <div class="Titulo">
                Presupuesto: {{values.datos.NumeroPsto}} [{{values.datos.IDEstado.Descripcion}}
                {% if values.datos.IDAlbaran.IDAlbaran %}
                    <a href="{{app.path}}/AlbaranesCab/Edit/{{values.datos.IDAlbaran.PrimaryKeyMD5}}" title='Editar Albarán'>
                    {{values.datos.IDAlbaran.NumeroAlbaran}}
                    </a>
                {% endif %}
                ]

                {% if values.datos.IDEstado.IDTipo == '0' %}
                {% if values.permisos.permisosModulo['UP'] %}
                <input type="image" src="{{app.path}}/images/save_cmd.png" width="24px" onclick="getElementById('accion_{{values.controller}}').value='Guardar';" alt="Guardar" title="Guardar" />
                <input type="image" src="{{app.path}}/images/confirm_cmd.png" width="24px" onclick="if (!confirm('¿Desea confirmar el presupuesto {{values.datos.NumeroPsto}}?')) {return false;} else {getElementById('action').value='Confirmar';}" alt="Confirmar" title="Confirmar Presupuesto" />
                {% endif %}
                {% if values.permisos.permisosModulo['DE'] %}
                <input type="image" src="{{app.path}}/images/trash_cmd.png" width="24px" onclick="if (!confirm('¿Desea borrar el presupuesto {{values.datos.NumeroPsto}}?')) {return false;} else {getElementById('accion_{{values.controller}}').value='Borrar';}" alt="Borrar" title="Borrar Presupuesto" />
                {% endif %}
                {% endif %}

                {% if values.datos.IDEstado.IDTipo == '1' and values.permisos.permisosModulo['UP'] %}
                <input type="image" src="{{app.path}}/images/cancel_cmd.png" width="24px" onclick="if (!confirm('¿Desea anular la confirmación del presupuesto {{values.datos.NumeroPsto}}?')) {return false;} else {getElementById('action').value='Anular';}" alt="Anular" title="Anular Confirmación" />
                {% endif %}

                {% if values.permisos.permisosModulo['CO'] %}
                {{ macro.botonDocumento(app.path,values.controller,values.datos.getPrimaryKeyValue)}}
                <input type="image" src="{{app.path}}/images/send_cmd.png" width="24px" onclick="getElementById('action').value='Enviar';" alt="Enviar" title="Enviar" />
                {% endif %}

                {% if values.permisos.permisosModulo['IN'] %}
                <input type="image" src="{{app.path}}/images/duplicar_cmd.png" width="24px" onclick="getElementById('action').value='Duplicar';" alt="Duplicar" title="Duplicar" />
                {% endif %}
                
                {% include '_global/comandosAuditoria.html.twig' with {'controller': values.controller} %}
            </div>
        </div>

        <div class='Cuerpo'>
        {% include "_global/alertas.html.twig" with {'alertas': values.alertas,'errores': values.errores} %}
	{% include values.controller ~ "/form.html.twig" with {'datos': values.datos} %}
        </div>
    </form>
</div>
{% endblock %}