{# TEMPLATE PstoCab/form.html.twig #}
{# Muestra los campos editables de la entidad #}

{% set atributos = values.atributos %}

{% if not datos.IDPsto %}
    {% set sucursalDefecto = suc %}
{% else %}
    {% set sucursalDefecto = datos.IDSucursal.IDSucursal %}
{% endif %}

    <div id="tabs">
    <input name="solapaActiva" id="solapaActiva" value="{{ values.solapaActiva }}" type="hidden" />          
        <ul>
            <li><a href="#general">General</a></li>
            {% if datos.PrimaryKeyValue %}
                <li><a href="#divDetalle" id="detalle">Detalle</a></li>
                <li><a href="#envio">Envío</a></li>
                <li><a href="#observaciones">{% if datos.Observaciones %}<b>{% endif %}Observaciones{% if datos.Observaciones %}</b>{% endif %}</a></li>
                {% if (values.varEnvMod.withDocuments == '1' or user.IDPerfil.IDPerfilPerfil == '1') and (datos.PrimaryKeyValue ) %}            
                <li><a href="#divDocs" id="docs">Documentos adjuntos ({{datos.getNumberOfDocuments('document')}})</a></li>
                {% endif %}
            {% endif %}
        </ul>
        <div id="general">
            <div class="CajaIzquierda" style="height: 220px;">
            {% if datos.IDEstado.IDTipo == '0' %}
                {% if datos.IDPsto %}
                {{ macro.etiqueta(atributos.IDSucursal,'Etiqueta',datos.IDSucursal.Nombre) }}
                {% else %}
                <div class="Item" id="div_PstoCab_IDSucursal">
                    {{ macro.label(atributos.IDSucursal)}}
                    <select name="PstoCab[IDSucursal]" id="PstoCab_IDSucursal" size="1" class="Select"
                            onchange="DesplegableAjax('div_PstoCab_IDContador','PstoCab_IDContador','PstoCab[IDContador]','contadorPstos',this.value);
                                      DesplegableAjax('div_PstoCab_IDComercial','PstoCab_IDComercial','PstoCab[IDComercial]','comercialPstos',this.value);
                                      $('#PstoCab_IDCliente').val('');
                                      $('#RazonSocial').val('');
                                     "
                    >
                    {% for value in datos.IDAgente.getSucursales(emp.IDEmpresa) %}
                        <option value="{{ value.Id }}" {% if (value.Id==sucursalDefecto) %} SELECTED {%endif%}>{{value.Value}}</option>
                    {% endfor %}
                    </select>
                </div>
                {% endif %}
                {% if not datos.IDPsto %}
                {{ macro.select(atributos.IDContador,'Etiqueta','PstoCab[IDContador]','PstoCab_IDContador',none,datos.IDContador.IDContador,datos.IDContador.fetchAll(sucursalDefecto,0),'Select') }}
                {% endif %}
                {{ macro.fecha(atributos.Fecha,'Etiqueta','PstoCab[Fecha]','PstoCab_Fecha',datos.Fecha,'10','CampoFecha') }}
                {{ macro.fecha(atributos.FechaAceptacion,'Etiqueta','PstoCab[FechaAceptacion]','PstoCab_FechaAceptacion',datos.FechaAceptacion,'10','CampoFecha', 'disabled') }}
                {{ macro.select(atributos.IDAlmacen,'Etiqueta','PstoCab[IDAlmacen]','PstoCab_IDAlmacen',200,datos.IDAlmacen.IDAlmacen,datos.IDAgente.getAlmacenes('','',false),'Select') }}

                <div class="Item" id="div_PstoCab_RazonSocial">
                    {{ macro.label(atributos.IDCliente,none,none,'PstoCab_IDCliente')}}                    
                    <input name="PstoCab[IDCliente]" id="PstoCab_IDCliente" value="{{datos.IDCliente.IDCLiente}}" type="hidden"/>
                    <input value="{{datos.IDCliente.RazonSocial}}" id="RazonSocial" type="text" maxlength="50" class="CampoTextoLargo"
                           onkeyup="autoCompletar('RazonSocial','PstoCab_IDCliente','RazonSocial','clientes',$('#PstoCab_IDSucursal').val(),['subbloque_ajax_cliente_presupuesto','','','clientepresupuesto']);"/>

                    {% if datos.IDCliente.IDCliente %}
                    {{ macro.promosVigentesCliente(app.path, datos.IDCliente, datos.getDate) }}
                    {% endif %}
                </div>

                <div id="subbloque_ajax_cliente_presupuesto">
                    {{ macro.select(atributos.IDComercial,'Etiqueta','PstoCab[IDComercial]','PstoCab_IDComercial',200,datos.IDComercial.IDAgente,datos.IDComercial.getComerciales('',datos.IDSucursal.IDSucursal),'Select') }}
                    {{ macro.select(atributos.IDDirec,'Etiqueta','PstoCab[IDDirec]','PstoCab_IDDirec',350,datos.IDDirec.IDDirec,datos.IDDirec.fetchAll(datos.IDCliente.IDCliente),'Select350') }}
                    {{ macro.select(atributos.IDFP,'Etiqueta','PstoCab[IDFP]','PstoCab_IDFP',300,datos.IDFP.IDFP,datos.IDFP.fetchAll('Descripcion'),'Select') }}
                </div>
                {% if datos.IDCliente.Avisos %}
                    {{ macro.etiqueta({'caption':'Avisos'},'Etiqueta',datos.IDCliente.Avisos) }}
                    <div style="clear: both;"></div>
                {% endif %}
                {{ macro.foco('RazonSocial') }}
            {% else %}
                {{ macro.etiqueta(atributos.IDSucursal,'Etiqueta',datos.IDSucursal.Nombre) }}
                {{ macro.etiqueta(atributos.IDAlmacen,'Etiqueta',datos.IDAlmacen.Nombre) }}
                {{ macro.etiqueta(atributos.Fecha,'Etiqueta',datos.Fecha ) }}
                {{ macro.etiqueta(atributos.FechaAceptacion,'Etiqueta',datos.FechaAceptacion ) }}
                {{ macro.etiqueta(atributos.IDCliente,'Etiqueta',datos.IDCliente.RazonSocial) }}
                {{ macro.etiqueta(atributos.IDComercial,'Etiqueta',datos.IDComercial.Nombre) }}
                {{ macro.etiqueta(atributos.IDDirec,'Etiqueta',datos.IDDirec.Direccion ~ " - " ~ datos.IDDirec.IDPoblacion ~ " (" ~ datos.IDDirec.IDProvincia.Provincia ~ ")") }}
                {{ macro.etiqueta(atributos.IDFP,'Etiqueta',datos.IDFP.Descripcion ) }}
            {% endif %}
            </div>

            {% if datos.IDPsto %}
            <div class="CajaTotales">
                {% include values.controller ~ "/totales.html.twig" with {'datos': datos}%}
            </div>
            {% endif %}
        </div>
        {% if datos.PrimaryKeyValue %}
        <div id="divDetalle"></div>            
        <div id="envio">
            {% if datos.IDEstado.IDTipo == '0' %}
                {{ macro.select(atributos.IDAgencia,'Etiqueta','PstoCab[IDAgencia]','PstoCab_IDAgencia',200,datos.IDAgencia.IDAgencia,datos.IDAgencia.fetchAll('Agencia'),'Select') }}
                {{ macro.input(atributos.Peso,'Etiqueta','text','PstoCab[Peso]','PstoCab_Peso',datos.Peso,'10','CampoUnidades') }}
                {{ macro.input(atributos.Volumen,'Etiqueta','text','PstoCab[Volumen]','PstoCab_Volumen',datos.Volumen,'10','CampoUnidades') }}
                {{ macro.input(atributos.Bultos,'Etiqueta','text','PstoCab[Bultos]','PstoCab_Bultos',datos.Bultos,'4','CampoUnidades') }}
                {{ macro.input(atributos.Expedicion,'Etiqueta','text','PstoCab[Expedicion]','PstoCab_Expedicion',datos.Expedicion,'50','CampoTextoCorto') }}
            {% else %}
                {{ macro.etiqueta(atributos.IDAgencia,'Etiqueta',datos.IDAgencia.Agencia ) }}
                {{ macro.etiqueta(atributos.Peso,'Etiqueta',datos.Peso ) }}
                {{ macro.etiqueta(atributos.Volumen,'Etiqueta',datos.Volumen ) }}
                {{ macro.etiqueta(atributos.Bultos,'Etiqueta',datos.Bultos ) }}
                {{ macro.etiqueta(atributos.Expedicion,'Etiqueta',datos.Expedicion ) }}
                <div style="clear: both;"></div>
            {% endif %}
        </div>
        <div id="observaciones">
            {{ macro.textarea(atributos.Observaciones,'Etiqueta','PstoCab[Observaciones]','PstoCab_Observaciones',datos.Observaciones,none,none,'TextArea')}}
            {% set beneficio  = datos.getBeneficio() %}
            <div style="text-align: center;">
                Referencia [{{ beneficio.Venta}}] [{{ beneficio.Costo}}] [{{ beneficio.Beneficio }}]
            </div>
        </div>
        <div id="divDocs"></div>
        {% endif %}
    </div>

<script type="text/javascript"> 
$("#docs").click(function(){
    url = "<iframe src='{{app.path}}/CpanDocs/listPopup/{{values.controller}}/{{datos.PrimaryKeyValue}}/document/1' width='100%' height='270' scrolling='yes' style='border: 0px dotted grey;'></iframe>"; 
    $("#divDocs").html(url);
});
$("#detalle").click(function(){
    url = "<iframe src='{{app.path}}/PstoLineas/list/{{datos.IDPsto}}' width='100%' height='400' margin='0' scrolling='yes' style='border: 0px dotted grey;'></iframe>"; 
    $("#divDetalle").html(url);
});    
</script>    