{# PstoCab/email.html.twig                                                      #}
{# MUESTRA EN UN IFRAME EL ARCHIVO RECIBIDO, NORMALMENTE SERA UN PDF  #}
{# PERO PUEDE SER DE CUALQUIER TIPO: EXCEL, WORD, IMAGEN, ETC         #}
{# -------------------------------------------------------------------#}
{% extends values.controller ~ '/index.html.twig' %}

{% block email %}

{% if values.resultadoEnvio %}
    {% for mensaje in values.resultadoEnvio %}
        <div class='Subtitulo'>{% autoescape false %}{{ mensaje }}{% endautoescape %}</div>
    {% endfor %}
{% else %}
<div class='Subtitulo'>Enviar presupuesto por email</div>
<div class="FormManto">
    <div class="Cuerpo">
        <div class="Izquierda">
            <form name="enviar" id="enviar" action="" method="POST" enctype="multipart/form-data">
            <input name="controller" value="PstoCab" type="hidden">
            <input name="action" id="action" value="enviar" type="hidden">
            <input name="accion" id="accion_{{values.controller}}" value="Enviar" type="hidden">
            <input name="Adjunto" value="{{values.archivo}}" type="hidden">
            <input name="De" value="{{values.email.De}}" type="hidden">
            <input name="DeNombre" value="{{values.email.DeNombre}}" type="hidden">
            <input name="PstoCab[IDPsto]" value="{{values.email.idPsto}}" type="hidden"/>
            {{ macro.input({'caption':'Para','visible':'1','varEnv':'0'},'Etiqueta','text','Para','Para',values.email.Para,'255','CampoTextoLargo') }}
            {{ macro.input({'caption':'Con copia','visible':'1','varEnv':'0'},'Etiqueta','text','Cc','Cc',values.email.Cc,'255','CampoTextoLargo') }}
            {{ macro.input({'caption':'Con copia oculta','visible':'1','varEnv':'0'},'Etiqueta','text','Cco','Cco',values.email.Cco,'255','CampoTextoLargo') }}            
            {{ macro.input({'caption':'Asunto','visible':'1','varEnv':'0'},'Etiqueta','text','Asunto','Asunto',values.email.Asunto,'255','CampoTextoLargo') }}
            {{ macro.select({'caption':'Adjuntar','visible':'1','updatable':'1','varEnv':'0'},'Etiqueta','Formato','Formato',200,values.email.Formato,values.email.Formatos,'Select',none,"$('#accion_"~ values.controller~"').val('CambioFormato');submit();") }}
            {{ macro.textarea({'caption':'Mensaje','visible':'1','varEnv':'0'},'Etiqueta','Mensaje','Mensaje',values.email.Mensaje,none,none,'TextArea')}}
            <p style="text-align:center; margin-top:10px;" id="pEnviar">
                <input value="Enviar" id="botonEnviar" type="button" class="Comando"/>
            </p>
            </form>
        </div>

        <div style="float:right; width:450px;">
            <iframe width="100%" height="400" src="{{app.path}}/{{values.archivo}}"></iframe>
        </div>
    </div>
</div>
{% endif %}

<script>
$(function(){
    // Quito el boton de enviar
    $('#botonEnviar').click(function(){
        $('#pEnviar').html('<img src="{{app.path}}/images/loadingAnimation.gif"/>');
        $('#enviar').submit();
    });
});    
</script>
{% endblock %}