    <div class="TotalAlbaran" id="PstoCab_LiteralTotal">Total Presupuesto:&nbsp;{{macro.moneda(datos.Total)}}</div>
    <input name="PstoCab[Total]" value="{{datos.Total}}" type="hidden" />

    <table align="center" witdh="80%">
        <tr>
            <td class="TitulosTotales">Bruto</td>
            <td class="TitulosTotales">Dcto</td>
            <td class="TitulosTotales">Rec. Financiero</td>
        </tr>
        <tr>
            <td align="center"><input name="PstoCab[Importe]" id="PstoCab_Importe" value="{{datos.Importe}}" class="CampoImporte" disabled /></td>
            <td align="center"><input name="PstoCab[Descuento]" id="PstoCab_Descuento" value="{{datos.Descuento}}" class="CampoImporte" /></td>
            <td align="center">
                <input name="PstoCab[RecargoFinanciero]" value="{{datos.RecargoFinanciero}}" class="CampoImporte" disabled />
                <input name="PstoCab[CuotaRecargoFinanciero]" value="{{datos.CuotaRecargoFinanciero}}" class="CampoImporte" disabled />
            </td>
        </tr>
        <tr>
            <td class="TitulosTotales">Bases</td>
            <td class="TitulosTotales">IVA</td>
            <td class="TitulosTotales">Recargo</td>
        </tr>
        <tr>
            <td><input name="PstoCab[BaseImponible1]" id="PstoCab_BaseImponible1" type="text" value="{{datos.BaseImponible1}}" readonly class='CampoImporte'></td>
            <td align="right">
                <table cellspacing="0" cellpadding="0" align="right">
                    <tr>
                        <td><input name="PstoCab[Iva1]" id="PstoCab_Iva1" type="text" value="{{datos.Iva1}}" size="4" maxlength="5" readonly class="CampoImpuesto"></td>
                        <td><input name="PstoCab[CuotaIva1]" id="PstoCab_CuotaIva1" type="text" value="{{datos.CuotaIva1}}" size="7" readonly class="CampoImporte"></td>
                    </tr>
                </table>
            </td>
            <td>
                <table cellspacing="0" cellpadding="0" align="right">
                    <tr>
                        <td><input name="PstoCab[Recargo1]" id="PstoCab_Recargo1" type="text" value="{{datos.Recargo1}}" size="4" maxlength="5" readonly class="CampoImpuesto"></td>
                        <td><input name="PstoCab[CuotaRecargo1]" id="PstoCab_CuotaRecargo1" type="text" value="{{datos.CuotaRecargo1}}" size="7" readonly class="CampoImporte"></td>
                    </tr>
                </table>
            </td>
        </tr>

        <tr>
            <td><input name="PstoCab[BaseImponible2]" id="PstoCab_BaseImponible2" type="text" value="{{datos.BaseImponible2}}" readonly class='CampoImporte'></td>
            <td align="right">
                <table cellspacing="0" cellpadding="0" align="right">
                    <tr>
                        <td><input name="PstoCab[Iva2]" id="PstoCab_Iva2" type="text" value="{{datos.Iva2}}" size="4" maxlength="5" readonly class="CampoImpuesto"></td>
                        <td><input name="PstoCab[CuotaIva2]" id="PstoCab_CuotaIva2" type="text" value="{{datos.CuotaIva2}}" size="7" readonly class="CampoImporte"></td>
                    </tr>
                </table>
            </td>
            <td>
                <table cellspacing="0" cellpadding="0" align="right">
                    <tr>
                        <td><input name="PstoCab[Recargo2]" id="PstoCab_Recargo2" type="text" value="{{datos.Recargo2}}" size="4" maxlength="5" readonly class="CampoImpuesto"></td>
                        <td><input name="PstoCab[CuotaRecargo2]" id="PstoCab_CuotaRecargo2" type="text" value="{{datos.CuotaRecargo2}}" size="7" readonly class="CampoImporte"></td>
                    </tr>
                </table>
            </td>
        </tr>

        <tr>
            <td><input name="PstoCab[BaseImponible3]" id="PstoCab_BaseImponible3" type="text" value="{{datos.BaseImponible3}}" readonly class='CampoImporte'></td>
            <td align="right">
                <table cellspacing="0" cellpadding="0" align="right">
                    <tr>
                        <td><input name="PstoCab[Iva3]" id="PstoCab_Iva3" type="text" value="{{datos.Iva3}}" size="4" maxlength="5" readonly class="CampoImpuesto"></td>
                        <td><input name="PstoCab[CuotaIva3]" id="PstoCab_CuotaIva3" type="text" value="{{datos.CuotaIva3}}" size="7" readonly class="CampoImporte"></td>
                    </tr>
                </table>
            </td>
            <td>
                <table cellspacing="0" cellpadding="0" align="right">
                    <tr>
                        <td><input name="PstoCab[Recargo3]" id="PstoCab_Recargo3" type="text" value="{{datos.Recargo3}}" size="4" maxlength="5" readonly class="CampoImpuesto"></td>
                        <td><input name="PstoCab[CuotaRecargo3]" id="PstoCab_CuotaRecargo3" type="text" value="{{datos.CuotaRecargo3}}" size="7" readonly class="CampoImporte"></td>
                    </tr>
                </table>
            </td>
        </tr>

        <tr>
            <td class="Subtotales"><input name="PstoCab[TotalBases]" id="PstoCab_TotalBases" type="text" value="{{datos.TotalBases}}" readonly class='CampoImporte'></td>
            <td class="Subtotales" align="right"><input name="PstoCab[TotalIva]" id="PstoCab_TotalIva" type="text" value="{{datos.TotalIva}}" readonly class='CampoImporte'></td>
            <td class="Subtotales" align="right"><input name="PstoCab[TotalRecargo]" id="PstoCab_TotalRecargo" type="text" value="{{datos.TotalRecargo}}" readonly class='CampoImporte'></td>
        </tr>

    </table>
