{#
  Module: CpanVariables
  Document : modules\CpanVariables\index.html.twig

  author: Sergio Pérez <sergio.perez@albatronic.com>
  copyright: INFORMATICA ALBATRONIC SL
  date 27.08.2012 20:59:40
#}

{% extends layout %}

{% block title parent() ~ ' - '  ~ values.titulo %}

{% block content %}

    <div class="portlet">
        <div class="portlet-title">
            <div class=caption">
                <h1>
                {% if values.nombre %}<a href="{{app.path}}/{{values.nombre}}">{%endif%}
                    {{ values.titulo }}
                {% if values.nombre %}</a>{%endif%}
                </h1>
            </div>
            <div class="actions btn-set"> 
                {% if values.permisos.permisosModulo['UP'] %}
                    <button class="btn green" onclick="$('#accion_{{values.controller}}').val('Guardar');submitForm('manto_{{values.controller}}');">
                        <i class="fa fa-save"></i>&nbsp;Guardar
                    </button>        
                {% endif %}
                {% if values.permisos.permisosModulo['DE'] %}
                <a class="btn btn-primary btn-actions" data-toggle="modal" href="#confirmacionBorrado">
                    <i class="fa fa-trash-o"></i>Borrar
                </a>

                <div class="modal fade" id="confirmacionBorrado" tabindex="-1" role="confirmacionBorrado" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                                <h4 class="modal-title">¿Realmente desea borrar el registro?</h4>
                            </div>

                            <div class="modal-footer">
                                <button type="button" class="btn default" data-dismiss="modal">Cancelar</button>
                                <button type="button" class="btn btn-primary" onclick="$('#accion_{{values.controller}}').val('Borrar');
                                submitForm('manto_{{ values.controller}}');">Borrar</button>
                            </div>                
                        </div>
                    </div>
                </div>           
                {% endif %}              
            </div>
        </div>
    </div>
    
    <div class="salto"></div>

    {% block filtro %}
    {% if values.permisos.permisosModulo['CO'] and values.tieneListado %}
            {% include '_global/filtroGenericoWrapper.html.twig' with {'filter': values.listado.filter} %}
    {% endif %}
    {% endblock %}

    <div id='div_listado'>
    {% block listado %}
    {% endblock %}
    </div>

    {% block mantenimiento %}
    {% endblock %}
{% endblock %}