{# _Emergente/historicoCompras.html.twig #}

{% import "_global/macros.html.twig" as macro %}

<div class="row">
    <div class="col-md-12">
        <form class="form-control" id="formConsulta" action="" method="POST" enctype="multipart/form-data">
            <input name="controller" value="ApiRest" type="hidden" />
            <input name="action" id="action" value="HistoricoCompras" type="hidden" />
            <input name="formato" id="formato" value="html" type="hidden" />        

            <div class="Item" id="div_idProveedor" style="margin-top: 3px;">
                <div style="float: left; width: 55px; font-size: 11px;">Proveedor</div>
                <input name="idProveedor" id="idProveedor" value="{{values.datos.proveedor.IDProveedor}}" type="hidden" />
                <input value="{{values.datos.proveedor.RazonSocial}}" id="RazonSocial" type="text" maxlength="50" class="CampoTextoLargo"
                       onkeyup="autoCompletar('RazonSocial', 'idProveedor', 'RazonSocial', 'proveedores',{{suc}} , '');"/>
                <span onclick="ajaxHistoricoCompras($('#idArticulo').val(), $('#idProveedor').val(), $('#periodo').val());">Consulta</span>
            </div>
            <div style="clear: both;"></div>

            <div class="Item" id="div_idArticulo" style="margin-top: 3px;">
                <div style="float: left; width: 55px; font-size: 11px;">Artículo</div>
                <input name="idArticulo" id="idArticulo" value="{{values.datos.articulo.IDArticulo}}" type="hidden" />
                <input value="{{values.datos.articulo.Descripcion}}" id="Descripcion" type="text" maxlength="50" class="CampoTextoLargo"
                       onkeyup="autoCompletar('Descripcion', 'idArticulo', 'Descripcion', 'articulos', '', '');"
                       onblur="if (this.value === '') {
                               $('#idArticulo').val('');
                           }
                           $('#formConsulta').submit();"/>
                Dejar en blanco para ver todos los artículos comprados
            </div>
            <div style="clear: both;"></div>

            <div class="Item" id="div_periodo" style="margin-top: 3px;">
                <div style="float: left; width: 55px; font-size: 11px;">Periodo</div>
                <select name="periodo" id="periodo" onchange="ajaxHistoricoCompras($('#idArticulo').val(), $('#idProveedor').val(), $('#periodo').val());">
                    {% for periodo in values.datos.periodos%}
                        <option value="{{periodo.Id}}" {% if periodo.Id == values.datos.periodo %} SELECTED {% endif %}>{{periodo.Value}}</option>
                    {% endfor %}
                </select>
            </div>
            <div style="clear: both; margin: 5px;"></div>
            {% if values.datos.articulo.IDArticulo %}
                <hr>
                <p>Unidades Compradas: {{values.datos.unidades}}</p>
                <p>Precio Medio: {{values.datos.precioMedio}} €</p>
            {% endif %}

        </form>
    </div>
</div>

{% if values.listado %}
    <div class="row">
        <div class="col-md-12">
            <table id="table-listado" class="table table-striped">
                <thead>
                    <tr>
                        <th>Pedido</th>
                        <th>Fecha Entrada</th>
                        <th>Artículo</th>
                        <th>Udes</th>
                        <th>Precio</th>
                        <th>Dcto</th>
                        <th>Importe</th>
                    </tr>
                <tbody>
                    {% for linea in values.listado %}
                        <tr>
                            <td>
                                <a href="{{app.path}}/PedidosCab/edit/{{linea.PrimaryKeyMD5}}" target="_blank" title="Ver Pedido">{{linea.IDPedido}}</a>
                            </td>
                            <td>{{linea.FechaEntrada}}</td> 
                            <td>{{macro.recortaTexto(linea.Descripcion,50)}}</td>
                            <td class="text-right">{{linea.Unidades}}</td>
                            <td class="text-right">{{macro.moneda(linea.Precio)}}</td>
                            <td class="text-right">{{linea.Descuento}}%</td>
                            <td class="text-right">{{macro.moneda(linea.Importe)}}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endif %}