{# empty Twig template #}
{% extends layout %}

{% block title parent() ~ " - " ~ values.titulo %}

{% block content %}

<div class='Titulo'>{{ values.titulo }}
    {% include '_global/comandosHelp.html.twig' with {'controller': values.controller} %}
</div>

<div class="FormManto">

<div class="Cuerpo">

    <div class="informesTipos">
        <p>Tipos de informes</p>        
        <ul>
            {% for key,report in values.reports %}
            <li style="margin-bottom: 5px; font-weight: bold;">
            <a href="{{app.path}}/Informes/select/{{key}}">{{report.title}}</a>
            <p id="{{key}}" style="font-size: 11px; font-weight: normal; padding: 10px; display: none;">{{report.comment}}</p>
            </li>
            {% endfor %}
        </ul>
    </div>

    <div class="informesParametros">
        
    {% if not values.report is empty %}
        <p style="text-align: center;">{{values.report.title}}</p>
        <div style="margin-bottom: 10px;">{{ values.report.comment}}</div>

        <form name="informe" id="informe" method="POST">
            <input name="controller" value="{{values.controller}}" type="hidden"/>
            <input name="action" value="makeReport" type="hidden" />
            <input name="accion" value="Generar" type="hidden" />
            <input name="idReport" value="{{values.report.idReport}}" type="hidden" />

        {% for key,value in values.report.filters %}
            {% if filter.valuesSelected[key] %}
                {% set valor = filter.valuesSelected[i] %}
            {% else %}
                {% set valor = value.default %}
            {% endif %}

            <div>
                <div style="float: left; width: 90px; border-bottom: 1px dotted grey; margin-right: 3px;">{{value.caption}}:</div>

                <div style="float: left;">
                {% if value.type == 'select' %}
                    <input name="filter[columnsSelected][{{key}}]" value="{{value.field}}" type="hidden"/>
                    <select name="filter[valuesSelected][{{key}}]" {{ value.event }} style="width: 200px;">
                        {% for objeto in value.values  %}
                            <option value="{{ objeto.Id }}" {% if objeto.Id == valor %} SELECTED {% endif %}>{{ objeto.Value }}</option>
                        {% endfor %}
                    </select>
                {% endif %}

                {% if value.type == 'input' %}
                   <input name="filter[columnsSelected][{{key}}]" value="{{value.field}}" type="hidden"/>
                   <input name="filter[valuesSelected][{{key}}]" value ="{{ valor }}" type="text" size="10" {{ value.event }}/>
                {% endif %}

                {% if value.type == 'date' %}
                    <input name="filter[columnsSelected][{{key}}]" value="{{value.field}}" type="hidden"/>
                    {{ macro.fecha(none,none,"filter[valuesSelected]["~key~"]","filter_valuesSelected_"~key,valor) }}
                {% endif %}

                {% if value.type == 'check' %}
                    <input name="filter[columnsSelected][{{key}}]" value="{{value.field}}" type="hidden"/>
                    <input name="filter[valuesSelected][{{key}}]"
                   {% if  valor != '' %}
                   {% if  valor == '1' %}
                   checked="checked"
                   {% endif %}
                   {%else%}
                   {% if  value.default == 'on' %}
                    checked="checked"
                   {% endif %}
                   {% endif %}
                   type="checkbox" {{ value.event }}/>
                   {% endif %}
                </div>
            </div>
            <div style="clear: both;"></div>
        {% endfor %}

            <div style="margin-top: 10px;" id="div_botonGenerar">
                <input id="botonGenerar" value="Generar" type="button" class="Comando" style="margin-top: 10px; width: 150px;" />
            </div>
        </form>
        
    {% endif %}
        
    <div style="width: 100%">
    {% block listado %}
    {% endblock %}
    </div>            
        
    </div>

</div>
</div>

<script>
$(function(){
    $('#botonGenerar').click(function(){
        var html = "<img src='"+appPath+"/images/loadingAnimation.gif'>";
        $('#div_botonGenerar').html(html);
        $('#informe').submit();
    });
});
</script>
{% endblock %}