{# Template edit.html.twig for Clientes #}
{# -------------------------------------------------------#}
{# EDITAR UN REGISTRO. ACCIONES: GUARDAR Y BORRAR         #}
{# -------------------------------------------------------#}
{% extends 'Clientes/index.html.twig' %}

{% block mantenimiento %}
<div class="FormManto">
    <form name="manto_{{values.controller}}" id="manto_{{values.controller}}" action="" enctype="multipart/form-data" method="POST">
        <input name="controller" value="Clientes" type="hidden" />
        <input name="action" id="action_{{values.controller}}" value="edit" type="hidden" />
        <input name="accion" id="accion_{{values.controller}}" value="edit" type="hidden" />
        <input name="Clientes[IDCliente]" value="{{ values.datos.IDCliente }}" type="hidden" />
        <div class='Comandos'>
            <div class="Titulo">

            <div style="float: left;">
                {% include "_global/comandosSave.html.twig" %}
                {% include "_global/comandosDelete.html.twig" %}

                {% if values.permisos.permisosModulo['CO'] %}
                <a href="javascript:;" onClick="window.open('{{app.path}}/_Emergente/HistoricoVentas/0/{{values.datos.IDCliente}}','HistoricoVentas','width=850,height=500,resizable=yes,scrollbars=yes');">
                    <img src="{{app.path}}/images/historico.png" width="24px" height="24px" alt="Historico" title="Historico de Ventas...">
                </a>
                {{ macro.rutasVentaRepartoCliente(app.path, values.datos) }}
                {% endif %}
            </div>

            {% include '_global/comandosAuditoria.html.twig' with {'controller': values.controller} %}

            <div style="clear: both;"></div>

            </div>
        </div>

        <div class='Cuerpo'>
        {% include "_global/alertas.html.twig" with {'alertas': values.alertas,'errores': values.errores} %}
	{% include "Clientes/form.html.twig" with {'datos': values.datos} %}
        </div>
    </form>
</div>
{% endblock %}