{# TEMPLATE FemitidasCab/form.html.twig #}
{# Muestra los campos editables de la entidad        #}

{% set digitosCta = emp.DigitosCuentaContable %}
{% set atributos = values.atributos %}

<div class="row">
    <div class="col-md-12">
        <input name="solapaActiva" id="solapaActiva" value="{{ values.solapaActiva }}" type="hidden" />    
        <ul class="nav nav-tabs">
            <li><a href="#general" data-toggle="tab">General</a></li>
                {% if datos.PrimaryKeyValue %}
                <li><a href="#divDetalle" id="detalle" data-toggle="tab">Detalle</a></li>
                <li><a href="#envio" data-toggle="tab">Envío</a></li>
                <li><a href="#observaciones" data-toggle="tab">{% if datos.Observaciones %}<b>{% endif %}Observaciones{% if datos.Observaciones %}</b>{% endif %}</a></li>
                <li><a href="#divVctos" id="vctos" data-toggle="tab">Vctos</a></li>            
                <li><a href="#divCaja" id="caja" data-toggle="tab">Caja</a></li>
                    {% if (values.varEnvMod.withDocuments == '1' or user.IDPerfil.PrimaryKeyValue == '1') %}            
                    <li><a href="#divDocs" id="docs" data-toggle="tab">Documentos adjuntos ({{datos.getNumberOfDocuments('document')}})</a></li>
                    {% endif %}
                {% endif %}
        </ul>

        <div class="tab-content">       
            <div id="general" class="tab-pane">
                <div class="col-md-6">
                    {{ macro.etiqueta(atributos.IDSucursal,'Etiqueta',datos.IDSucursal.Nombre) }}
                    {{ macro.fecha(atributos.Fecha,'Etiqueta','FemitidasCab[Fecha]','FemitidasCab_Fecha',datos.Fecha,'10','CampoFecha') }}
                    {{ macro.etiqueta(atributos.IDCliente,'Etiqueta',datos.IDCliente.RazonSocial) }}
                    {{ macro.etiqueta(atributos.IDComercial,'Etiqueta',datos.IDComercial.Nombre) }}
                    {{ macro.select(atributos.IDFP,'Etiqueta','FemitidasCab[IDFP]','FemitidasCab_IDFP',200,datos.IDFP.IDFP,datos.IDFP.fetchAll('Descripcion'),'Select',none,"if (!confirm('Si cambia la forma de pago, se regeneraran los vencimientos')) {return false;} else {$('#accion_"~values.controller~"').val('Guardar');submit();}") }}
                    {{ macro.input(atributos.Asiento,'Etiqueta','text','FemitidasCab[Asiento]','FemitidasCab_Asiento',datos.Asiento,'10','CampoUnidades') }}
                    {{ macro.input(atributos.CuentaVentas,'Etiqueta','text','FemitidasCab[CuentaVentas]','FemitidasCab_CuentaVentas',datos.CuentaVentas,digitosCta,'CampoTextoCorto') }}
                </div>

                <div class="col-md-6" >
                    {% include values.controller ~ "/totales.html.twig" with {'datos': datos}%}
                </div>
            </div>
            {% if datos.PrimaryKeyValue %}
                <div id="divDetalle" class="tab-pane"></div>         
                <div id="envio" class="tab-pane">
                    {{ macro.etiqueta(atributos.IDAgencia,'Etiqueta',datos.IDAgencia.Agencia ) }}
                    {{ macro.etiqueta(atributos.Peso,'Etiqueta',datos.Peso ) }}
                    {{ macro.etiqueta(atributos.Volumen,'Etiqueta',datos.Peso ) }}
                    {{ macro.etiqueta(atributos.Bultos,'Etiqueta',datos.Volumen ) }}
                    {{ macro.etiqueta(atributos.Expedicion,'Etiqueta',datos.Expedicion ) }}
                    <div style="clear: both;"></div>
                </div>
                <div id="observaciones" class="tab-pane">
                    {{ macro.textarea(atributos.Observaciones,'Etiqueta','FemitidasCab[Observaciones]','FemitidasCab_Observaciones',datos.Observaciones,none,none,'TextArea')}}

                    {% set beneficio  = datos.getBeneficio() %}
                    <div style="text-align: center;">
                        Referencia [{{ beneficio.Venta}}] [{{ beneficio.Costo}}] [{{ beneficio.Beneficio }}]
                    </div>
                </div>
                <div id="divVctos" class="tab-pane"></div>            
                <div id="divCaja" class="tab-pane"></div>        
                <div id="divDocs" class="tab-pane"></div>
            {% endif %}
        </div>
    </div>
</div>
