{# Template list.html.twig for FemitidasCab #}
{# -------------------------------------------------------#}
{% extends 'FemitidasCab/index.html.twig' %}

{% block listado %}
<div class='Listado'>

	{% include '_global/paginacion.html.twig' with {'filter':values.listado.filter,'controller':values.controller,'position':'izq'}%}
    <div id="Listado">
        <table width='100%'>
            <tr class='Titulos'>
                <td width='16px'>&nbsp;</td>
                <td class='Item'>Factura</td>
                <td class='Item'>Sucursal</td>
                <td class='Item'>Fecha</td>
                <td class='Item'>Cliente</td>
                <td class='Item'>Base Imp.</td>
                <td class='Item'>Cuota Iva</td>
                <td class='Item'>Cuota Rec.</td>
                <td class='Item'>Total</td>
                <td class='Item'>Cta. Ventas</td>
                <td class='Item'>Asto.</td>
            </tr>

            <tbody class="Cuerpo">
            {% for key,objeto in values.listado.data %}
                {% if (key is even) %}
                    {% set classFila = 'Impar' %}
                {% else %}
                    {% set classFila = 'Par' %}
                {% endif %}
            <tr onclick="location.href='{{app.path}}/{{values.controller}}/edit/{{objeto.PrimaryKeyMD5}}'" class='{{classFila}}' style="cursor: pointer;">
                <td>
                    <a href='{{app.path}}/FemitidasCab/Edit/{{objeto.PrimaryKeyMD5}}' title='Editar ...'>
                        <img src="{{app.path}}/images/botoneditar.png" width="16px" height="16px" />
                    </a>
                </td>
                <td>{{objeto.NumeroFactura}}</td>
                <td>{{objeto.IDSucursal.Nombre|slice(0,20)}}</td>
                <td>{{objeto.Fecha}}</td>
                <td>{{objeto.IDCliente.RazonSocial|slice(0,40)}}</td>
                <td align="right">{{objeto.TotalBases}}</td>
                <td align="right">{{objeto.TotalIva}}</td>
                <td align="right">{{objeto.TotalRecargo}}</td>
                <td align="right">{{objeto.Total}}</td>
                <td align="left">{{objeto.CuentaVentas}}</td>
                <td align="right">{{objeto.Asiento}}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}