{#
  Module: BannZonas
  Document : modules\BannZonas\fields.html.twig

  author: Sergio Pérez <sergio.perez@albatronic.com>
  copyright: INFORMATICA ALBATRONIC SL
  date 09.12.2012 08:35:28
#}

{% set atributos = values.atributos %}

<div id="tabs">
    <ul>
        <li class="ui-state-default ui-corner-top{%if values.solapaActiva == 'general'%}  ui-tabs-selected ui-state-active{%endif%}">
            <a href="#general">{%if datos.Titulo%}<b>{{datos.Titulo|slice(0,40)}}</b> ...{%else%}Zona{%endif%}</a>
        </li>
        {% if values.varEnvMod.showCommonFields == '1'  or user.IDPerfil.IDPerfil == '1' %}
        <li class="ui-state-default ui-corner-top{%if values.solapaActiva == 'fieldsComunes'%}  ui-tabs-selected ui-state-active{%endif%}">
            <a href="#fieldsComunes" onclick='$( "#solapaActiva" ).val("fieldsComunes");'>Más detalles...</a>
        </li>        
        {% endif %}
    </ul>
                
    <div id="general">
        {{ macro.input(atributos.Titulo,'EtiquetaMedia','text',values.controller ~ '[Titulo]',values.controller ~ '_Titulo',datos.Titulo,'255','CampoTextoLargo','1') }}
        {{ macro.input(atributos.NumeroMaximoBanners,'EtiquetaMedia','text',values.controller ~ '[NumeroMaximoBanners]',values.controller ~ '_NumeroMaximoBanners',datos.NumeroMaximoBanners,'4','CampoUnidades','2') }}
        {{ macro.input(atributos.NumeroPosicionesBanners,'EtiquetaMedia','text',values.controller ~ '[NumeroPosicionesBanners]',values.controller ~ '_NumeroPosicionesBanners',datos.NumeroPosicionesBanners,'4','CampoUnidades','2') }}
    </div>
        
    {% include '_global/fieldsComunes.html.twig' %}        
</div>

{{ macro.foco(values.controller ~ '_Titulo') }}

