{# TEMPLATE Agencias/form.html.twig #}
{# Muestra los campos editables de la entidad        #}

{{ macro.input(values.atributos.Agencia,'Etiqueta','text','Agencias[Agencia]','Agencias_Agencia',datos.Agencia,'50','CampoTextoLargo') }}
{{ macro.input(values.atributos.Telefono,'Etiqueta','text','Agencias[Telefono]','Agencias_Telefono',datos.Telefono,'30','CampoTextoLargo') }}
{{ macro.input(values.atributos.Fax,'Etiqueta','text','Agencias[Fax]','Agencias_Fax',datos.Fax,'30','CampoTextoLargo') }}
{{ macro.input(values.atributos.Web,'Etiqueta','text','Agencias[Web]','Agencias_Web',datos.Web,'50','CampoTextoLargo') }}
{{ macro.input(values.atributos.EMail,'Etiqueta','text','Agencias[EMail]','Agencias_EMail',datos.EMail,'50','CampoTextoLargo') }}
{{ macro.input(values.atributos.CosteEstandar,'Etiqueta','text','Agencias[CosteEstandar]','Agencias_CosteEstandar',datos.CosteEstandar,'10','CampoImporte') }}
{{ macro.input(values.atributos.UrlTracking,'Etiqueta','text','Agencias[UrlTracking]','Agencias_UrlTracking',datos.UrlTracking,'100','CampoTextoLargo') }}
{{ macro.select(values.atributos.Uso,'Etiqueta','Agencias[Uso]','Agencias_Uso',150,datos.Uso.IDTipo,datos.Uso.fetchAll('',false),'Select') }}

{% if datos.IDAgencia %}
<div style="margin-top: 5px;">
    <div style="width: 100%; text-align: center; font-weight: bold;">TARIFA DE PORTES POR ZONAS Y TRAMOS DE KILOS</div>
    <iframe width="100%" height="240px" scrolling="yes" style="border: 0px;"
        src="{{app.path}}/TablaPortes/list/{{datos.IDAgencia}}">
    </iframe>
</div>
{% endif %}