{# Template edit.html.twig for Articulos #}
{# -------------------------------------------------------#}
{# EDITAR UN REGISTRO. ACCIONES: GUARDAR Y BORRAR         #}
{# -------------------------------------------------------#}
{% extends 'Articulos/index.html.twig' %}

{% block mantenimiento %}
<div class="FormManto">
    <form name="manto_{{values.controller}}" id="manto_{{values.controller}}" action="" enctype="multipart/form-data" method="POST">
        <input name="controller" value="Articulos" type="hidden" />
        <input name="action" id="action_{{values.controller}}" value="edit" type="hidden" />   
        <input name="accion" id="accion_{{values.controller}}" value="" type="hidden" />          
        <div class='Comandos'>
            <div class="Titulo">

            <div style="float: left;">              
                {% include "_global/comandosSave.html.twig" %}
                {% include "_global/comandosDelete.html.twig" %}

                {% if values.permisos.permisosModulo['CO'] %}
                <a href="javascript:;" onClick="window.open('{{app.path}}/_Emergente/HistoricoVentas/{{values.datos.IDArticulo}}/0','HistoricoVentas','width=850,height=500,resizable=yes,scrollbars=yes');">
                    <img src="{{app.path}}/images/historico.png" width="24px" height="24px" alt="Historico Ventas" title="Historico de Ventas...">
                </a>
                <a href="javascript:;" onClick="window.open('{{app.path}}/_Emergente/HistoricoCompras/{{values.datos.IDArticulo}}/0','HistoricoCompras','width=850,height=500,resizable=yes,scrollbars=yes');">
                    <img src="{{app.path}}/images/historico.png" width="24px" height="24px" alt="Historico Compras" title="Historico de Compras...">
                </a>
                {% endif %}
            </div>

            {% include '_global/comandosAuditoria.html.twig' with {'controller': values.controller} %}

            <div style="clear: both;"></div>

            </div>
        </div>
        <div class='Cuerpo'>
        <input name="Articulos[IDArticulo]" id="Articulos_IDArticulo" value="{{values.datos.IDArticulo}}" type="hidden" />
        {% include "_global/alertas.html.twig" with {'alertas': values.alertas,'errores': values.errores} %}
	{% include "Articulos/form.html.twig" with {'datos': values.datos} %}
        </div>
    </form>
</div>
{% endblock %}