{# EXISTENCIAS #}

<div class="panel panel-default">
    <div class="panel-heading">
        <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">Existencias</a>
        </h4>
    </div>
    <div id="collapseTwo" class="panel-collapse collapse">
        <div class="panel-body">
            <table class="table">
                <thead>
                    <tr>
                        <th>Almacén</th>
                        <th>Disponible</th>
                        <th>Reales</th>
                        <th>Reservadas</th>
                        <th>Entrando</th>
                    </tr>
                </thead>
                {% for almacen in datos.getExistencias %}
                    <tr>
                        <td>{{almacen.Nombre}}</td>
                        <td class="text-right">{{almacen.Reales-almacen.Reservadas}}</td>
                        <td class="text-right">{{almacen.Reales}}</td>
                        <td class="text-right">{{almacen.Reservadas}}</td>
                        <td class="text-right">{{almacen.Entrando}}</td>
                    </tr> 
                {% endfor %}            
            </table>
        </div>
    </div>
</div>