{# TEMPLATE Articulos/form.html.twig #}
{# Muestra los campos editables de la entidad        #}
{# LOS PRECIOS DE COSTO SOLO SON EDITABLES/VISIBLES PARA LOS USUARIOS DEL ROL 9 (SUPER) #}


{% if user.IDRol.IDTipo != '0'%}
    {% set tipo = 'hidden' %}
    {% set readOnly = 'READONLY' %}
{% else %}
    {% set tipo = 'text' %}
    {% set readOnly = '' %}
{% endif %}

{% set pvpconiva = datos.Pvp * (1 + datos.IDIva.Iva/100)%}
<input id="valoriva" type="hidden" value="{{datos.IDIva.Iva}}" />

<div id="tabs">
    <input name="solapaActiva" id="solapaActiva" value="{{ values.solapaActiva }}" type="hidden" />    
    <ul>        
        <li>
            <a href="#general">{%if datos.Descripcion%}<b>{{macro.recortaTexto(datos.Descripcion,32)}}</b>{%else%}Artículo{%endif%}</a>
            {% if values.atributos.Publish.visible > '0' %}
            {{ macro.actualizaColumna(values.controller,datos.getPrimaryKeyValue,'Publish',datos.Publish.IDTipo,'Publicar/Despublicar')}}              
            {% endif %}                
        </li>            
        <li><a href="#stock">Stock</a></li>
        {% if datos.AllowsChildren.IDTipo == '1' %}
        <li><a href="#divEscandallo" id="escandallo">Escandallo</a></li>
        {% endif %}        
        {% if values.atributos.UMB.visible == '1' %}
        <li><a href="#unidadesMedida">Udes de Medida</a></li>
        {% endif %}
        <li><a href="#caracteristicas">Características</a></li>
        <li><a href="#avisos">Avisos</a></li>          
        {% if datos.PrimaryKeyValue and datos.BelongsTo.PrimaryKeyValue == 0 %}
            <li><a href="#divCombinaciones" id="combinaciones">Combinaciones</a></li>  
            {% if values.varWebMod.especificas.permitirComentariosWeb == '1' %}
                <li><a href="#divComentarios" id="comentarios">Comentarios</a></li>  
            {% endif %}
        {% endif %}          
        {% if values.varEnvMod.showCommonFields == '1'  or user.IDPerfil.IDPerfil == '1' %}
        <li>
            <a href="#fieldsComunes">Más detalles...</a>
        </li>        
        {% endif %}
    </ul>

    <div id="general">
        {# ALERTA DE MARGEN BAJO #}
        {% if datos.Margen < values.varWebPro.erp.alertaMargen %}
            <div class="alertaMargen">Alerta!! Margen comercial inferior al permitido ({{values.varWebPro.erp.alertaMargen}}%)</div>
        {% endif %}        
        <div style="width: 51%; float:left;">
        {{ macro.input(values.atributos.Vigente,'Etiqueta','checkbox','Articulos[Vigente]','Articulos_Vigente',datos.Vigente.IDTipo,'255','CampoTextoLargo','20')}}                        
        {{ macro.input(values.atributos.Codigo,'Etiqueta','text','Articulos[Codigo]','Articulos_Codigo',values.datos.Codigo,'25','CampoTextoMedio') }}
        {{ macro.input(values.atributos.Descripcion,'Etiqueta','text','Articulos[Descripcion]','Articulos_Descripcion',datos.Descripcion,'255','CampoTextoLargo') }}
        {{ macro.select(values.atributos.IDFabricante,'Etiqueta','Articulos[IDFabricante]','Articulos_IDFabricante',200,datos.IDFabricante.IDFabricante,datos.IDFabricante.fetchAll(none,false),'Select')}}
        {{ macro.input(values.atributos.IDCategoria,'Etiqueta','text','Articulos[IDCategoria]','Articulos_IDCategoria',datos.IDCategoria.IDFamilia,'255','CampoTextoLargo','',"limpia('Articulos_IDCategoria','Articulos_IDFamilia');limpia('Articulos_IDCategoria','Articulos_IDSubfamilia');",['categorias','Familia',datos.IDCategoria.Familia]) }}
        {{ macro.input(values.atributos.IDFamilia,'Etiqueta','text','Articulos[IDFamilia]','Articulos_IDFamilia',datos.IDFamilia.IDFamilia,'255','CampoTextoLargo','',"limpia('Articulos_IDFamilia','Articulos_IDSubfamilia');",['familias','Familia',datos.IDFamilia.Familia,'Articulos_IDCategoria']) }}
        {{ macro.input(values.atributos.IDSubfamilia,'Etiqueta','text','Articulos[IDSubfamilia]','Articulos_IDSubfamilia',datos.IDSubfamilia.IDFamilia,'255','CampoTextoLargo','','',['subfamilias','Familia',datos.IDSubfamilia.Familia,'Articulos_IDFamilia']) }}       
        {% if user.IDRol.IDTipo == '0'%}
            {{ macro.input(values.atributos.Pvd,'Etiqueta','text','Articulos[Pvd]','Articulos_Pvd',datos.Pvd|number_format(3, '.', ''),'10','CampoImporte','','RecalculaPrecios("Pvd");') }}
            {{ macro.input(values.atributos.Pmc,'Etiqueta','text','Articulos[Pmc]','Articulos_Pmc',datos.Pmc|number_format(3, '.', ''),'10','CampoImporte','readonly') }}
            {{ macro.input(values.atributos.Margen,'Etiqueta','text','Articulos[Margen]','Articulos_Margen',datos.Margen,'5','CampoUnidades','','RecalculaPrecios("Margen");') }}
        {% endif %}
        {{ macro.input(values.atributos.Pvp,'Etiqueta','text','Articulos[Pvp]','Articulos_Pvp',datos.Pvp|number_format(3, '.', ''),'10','CampoImporte',none,'RecalculaPrecios("Pvp");') }}
        {{ macro.select(values.atributos.IDIva,'Etiqueta','Articulos[IDIva]','Articulos_IDIva',150,datos.IDIva.IDIva,datos.IDIva.fetchAll('Tipo',false),'Select')}}
        {{ macro.input({'caption':'PVP C/Iva','visible':'2'},'Etiqueta','text','pvpconiva','pvpconiva',pvpconiva|number_format(3, '.', ','),'10','CampoImporte','READONLY') }}
        {{ macro.input(values.atributos.PvpAnterior,'Etiqueta','text','Articulos[PvpAnterior]','Articulos_PvpAnterior',datos.PvpAnterior|number_format(3, '.', ''),'10','CampoImporte') }}
        {{ macro.input(values.atributos.Etiqueta,'Etiqueta','text','Articulos[Etiqueta]','Articulos_Etiqueta',datos.Etiqueta,'30','CampoTextoLargo') }}
        {{ macro.input(values.atributos.CodigoEAN,'Etiqueta','text','Articulos[CodigoEAN]','Articulos_CodigoEAN',datos.CodigoEAN,'13','CampoTextoMedio') }}

        {% if (values.atributos.IDEstado1.visible > '0') or (values.atributos.IDEstado2.visible > '0') or (values.atributos.IDEstado3.visible > '0') or (values.atributos.IDEstado4.visible > '0') or (values.atributos.IDEstado5.visible > '0') %}
            {% set valores = datos.IDEstado1.fetchAll() %}
            <div class="Item" id="div_{{id}}">
                {% if values.atributos.IDEstado1.caption %}
                    {{ macro.label(values.atributos.IDEstado1,'Etiqueta','Articulos[IDEstado1]','Articulos_IDEstado1') }}
                {% endif %}
                <div style="float: left;">
                {% include values.controller ~ '/estados.html.twig' with {'name':'Articulos[IDEstado1]','atributos':values.atributos.IDEstado1,'valores':valores,'defecto':datos.IDEstado1.IDEstado} %}
                {% include values.controller ~ '/estados.html.twig' with {'name':'Articulos[IDEstado2]','atributos':values.atributos.IDEstado2,'valores':valores,'defecto':datos.IDEstado2.IDEstado} %}
                {% include values.controller ~ '/estados.html.twig' with {'name':'Articulos[IDEstado3]','atributos':values.atributos.IDEstado3,'valores':valores,'defecto':datos.IDEstado3.IDEstado} %}
                {% include values.controller ~ '/estados.html.twig' with {'name':'Articulos[IDEstado4]','atributos':values.atributos.IDEstado4,'valores':valores,'defecto':datos.IDEstado4.IDEstado} %}
                {% include values.controller ~ '/estados.html.twig' with {'name':'Articulos[IDEstado5]','atributos':values.atributos.IDEstado5,'valores':valores,'defecto':datos.IDEstado5.IDEstado} %}                    
                </div>
            {{ macro.linkimg([app.path,'ArticulosEstados','Estados de Artículos',350,600]) }}
            </div>
        {% endif %}                
        {{ macro.input(values.atributos.Garantia,'Etiqueta','text','Articulos[Garantia]','Articulos_Garantia',datos.Garantia,'10','CampoTextoCorto') }}
        {{ macro.input(values.atributos.FechaUltimoPrecio,'Etiqueta','text','Articulos[FechaUltimoPrecio]','Articulos_FechaUltimoPrecio',datos.FechaUltimoPrecio,'19','LiteralFechaHora','disabled') }}                                                  
        </div>
            
        <div style="float: left; width: 47%;">
        {% include '_global/metaDatos.html.twig' %}
                
        {% if (datos.PrimaryKeyValue > 0) %}
            {% set propiedades = datos.getPropiedades() %}
            {% if propiedades | length > 0 %}
                <div style="margin-top: 20px; margin-left: 70px;">
                    <h3>Propiedades asociadas al artículo</h2>
                    <ul style="margin-top: 10px;">
                        {% for propiedad in propiedades %}
                            <li>
                                <div style="float: left; width: 100px;">{{propiedad.Titulo}}</div>
                                <div style="float: left;">
                                <select id="propiedades{{propiedad.Id}}" style="width: 150px;" onchange="actualizaArticuloPropiedad('{{datos.PrimaryKeyValue}}','{{propiedad.Id}}',this.value);">
                                    {% for valor in propiedad.Valores %}
                                        <option value="{{valor.Id}}" {%if valor.Id == propiedad.IDValor%}selected{%endif%} {%if valor.Color%} style="background-color: {{valor.Color}}"{%endif%}>{{valor.Valor}}</option>
                                    {% endfor %}
                                </select>
                                </div>
                                <div style="clear: both;"></div>
                            </li>
                        {% endfor %}
                    </ul>
                    <p style="margin-top: 10px;">Las propiedades de un artículo están determinadas por las propiedades de la categoría a la que pertenece. La asignación/eliminación de propiedades se realiza desde la ficha de <a href="{{app.path}}/Familias"><span class="subrrayado">Ficheros/Categorías, Familias y Subfamilias</span>.</a></p>
                    <p style="margin-top: 5px;">Mediante la sopala 'Combinaciones' puede generar de forma automática las diferentes combinaciones del producto padre en base a los valores de sus propiedades.</p>
                </div>
            {% endif %}
                
            {# MUESTRO LA IMAGEN DE DISEÑO 1 #}
            {% set pathImagen = datos.getPathNameImagenN(1) %}
            {% if pathImagen != '' %}
                <div style="margin-left: 140px;margin-top: 10px;">
                <img src="{{project.url}}/{{pathImagen}}" alt="{{pathImagen}}" title="{{pathImagen}}"/>
                </div>               
            {% endif %}
        </div>
        <div id="resultado"></div>
        {% endif %}
        
        <p style="clear: both; font-weight: bold; margin-top: 10px;">Importante:</p>
        <p>Los precios se deben expresar respecto a la unidad de medida básica. El stock máximo y mínimo se ha de indicar en la unidad de almacenaje.</p>            
    </div>      

    <div id="stock" style="overflow: hidden;">
        <div id="acordeonStock">
            {% include values.controller ~ '/propiedadesStock.html.twig' %}
            {% include values.controller ~ '/existencias.html.twig' %}
            {% include values.controller ~ '/movimientosAlmacen.html.twig' %}
        </div>
    </div>

    {% if datos.PrimaryKeyValue and datos.AllowsChildren.IDTipo == '1' and datos.IDEscandallo.PrimaryKeyValue == 0 %}
        <div id="divEscandallo"></div>  
    {% endif %}         
        
    {% if values.atributos.UMB.visible == '1' %}
    <div id="unidadesMedida">
        <table width='95%'>
            <tr>
                <td>{{ macro.select(values.atributos.UMB,'Etiqueta','Articulos[UMB]','Articulos_UMB',none,datos.UMB.Id,datos.UMB.fetchAll('UnidadMedida',false),'Select80')}}</td>
                <td class="Subtitulo" style="text-align: center;">Factores de Conversión</td>
            </tr>
            <tr>
                <td>{{ macro.select(values.atributos.UMC,'Etiqueta','Articulos[UMC]','Articulos_UMC',none,datos.UMC.Id,datos.UMC.fetchAll('UnidadMedida',false),'Select80')}}</td>
                <td style="text-align: center;">{{ macro.input('de unidad de Compra a Básica','EtiquetaMedia','text','Articulos[CUMC]','Articulos_CUMC',datos.CUMC,'4','CampoImporte') }}</td>
            </tr>
            <tr>
                <td>{{ macro.select(values.atributos.UMA,'Etiqueta','Articulos[UMA]','Articulos_UMA',none,datos.UMA.Id,datos.UMA.fetchAll('UnidadMedida',false),'Select80')}}</td>
                <td style="text-align: center;">{{ macro.input('de unidad de Almacenaje a Básica','EtiquetaMedia','text','Articulos[CUMA]','Articulos_CUMA',datos.CUMA,'4','CampoImporte') }}</td>
            </tr>
            <tr>
                <td>{{ macro.select(values.atributos.UMV,'Etiqueta','Articulos[UMV]','Articulos_UMV',none,datos.UMV.Id,datos.UMV.fetchAll('UnidadMedida',false),'Select80')}}</td>
                <td style="text-align: center;">{{ macro.input('de unidad de Venta a Básica','EtiquetaMedia','text','Articulos[CUMV]','Articulos_CUMV',datos.CUMV,'4','CampoImporte') }}</td>
            </tr>
        </table>
    </div>
    {% endif %}    

    <div id="caracteristicas">
        {{ macro.input(values.atributos.Subtitulo,'Etiqueta','text',values.controller ~ '[Subtitulo]',values.controller ~ '_Subtitulo',datos.Subtitulo,'255','CampoTextoLargo','1') }}
        {{ macro.textarea(values.atributos.Resumen,'Etiqueta',values.controller ~ '[Resumen]',values.controller ~ '_Resumen',datos.Resumen,none,none,'textarea','2')}}        
        {{ macro.textarea(values.atributos.ReclamoCorto,'Etiqueta',values.controller ~ '[ReclamoCorto]',values.controller ~ '_ReclamoCorto',datos.ReclamoCorto,none,none,'textarea','3')}}          
        {{ macro.textarea(values.atributos.ReclamoLargo,'Etiqueta',values.controller ~ '[ReclamoLargo]',values.controller ~ '_ReclamoLargo',datos.ReclamoLargo,none,none,'textarea','4')}}          
        {{ macro.textarea(values.atributos.Caracteristicas,'Etiqueta',values.controller ~ '[Caracteristicas]',values.controller ~ '_Caracteristicas',datos.Caracteristicas,none,none,'textarea','5')}}        
    </div>
        
    <div id="avisos">     
        {{ macro.textarea(values.atributos.AvisosPedidos,'Etiqueta',values.controller ~ '[AvisosPedidos]',values.controller ~ '_AvisosPedidos',datos.AvisosPedidos,none,none,'textarea','3')}}          
        {{ macro.textarea(values.atributos.AvisosPresupuestos,'Etiqueta',values.controller ~ '[AvisosPresupuestos]',values.controller ~ '_AvisosPresupuestos',datos.AvisosPresupuestos,none,none,'textarea','4')}}          
        {{ macro.textarea(values.atributos.AvisosAlbaranes,'Etiqueta',values.controller ~ '[AvisosAlbaranes]',values.controller ~ '_AvisosAlbaranes',datos.AvisosAlbaranes,none,none,'textarea','5')}}        
    </div>
        
    {% if datos.PrimaryKeyValue and datos.BelongsTo.PrimaryKeyValue == 0 %}
        <div id="divCombinaciones"></div>
        {% if values.varWebMod.especificas.permitirComentariosWeb == '1' %}
            <div id="divComentarios">
                {% include '_global/comentariosBlog.html.twig' with {'comentarios': datos.getComentarios} %}
            </div>
        {% endif %}
    {% endif %} 
        
    {% include '_global/fieldsComunes.html.twig' %}
    
</div>

<script type="text/javascript">
function RecalculaPrecios(campo) {
    if ((campo==='Pvd') || (campo==='Margen')) document.getElementById('Articulos_Pvp').value=Redondear(document.getElementById('Articulos_Pmc').value*(1+document.getElementById('Articulos_Margen').value/100),3);
    if (campo==='Pvp'){
        if (document.getElementById('Articulos_Pmc').value!==0) document.getElementById('Articulos_Margen').value=Redondear(100*(document.getElementById('Articulos_Pvp').value-document.getElementById('Articulos_Pmc').value)/document.getElementById('Articulos_Pmc').value,3);
        else document.getElementById('Articulos_Margen').value=100;
    }
    document.getElementById('pvpconiva').value=Redondear(document.getElementById('Articulos_Pvp').value*(1+document.getElementById('valoriva').value/100),3);
}

function VerDatosLogisticos(seccion,SiNo){
    if (SiNo==='S'){seccion.style.display="";}
    else{seccion.style.display="none";}
}

function limpia(idOrigen,idInput) {

    if ( $('#'+idOrigen+'_valorAnterior').val() !== $('#'+idOrigen).val() ) {
        $('#'+idInput).val('');
        $('#'+idInput+'_autoComplete').val('');  
    }
    
    if ($('#'+idOrigen+'_autoComplete').val() === '') {
        $('#'+idOrigen).val('');  
    }        
}
$( "#acordeonStock" ).accordion({
    header: "> div > h3",
    collapsible: true,
    autoHeight: false,
    active: 0
});

$('#escandallo').click(function(){
    url = "<iframe src='{{app.path}}/ArticulosEscandallos/list/{{datos.PrimaryKeyValue}}' width='100%' height='500px' scrolling='yes' style='border: 0px dotted grey;'></iframe>";
    $("#divEscandallo").html(url);
});    

$('#combinaciones').click(function(){
    url = "<iframe src='{{app.path}}/ArticulosCombinaciones/index/{{datos.PrimaryKeyValue}}' width='100%' height='500px' scrolling='yes' style='border: 0px dotted grey;'></iframe>";
    $("#divCombinaciones").html(url);
}); 
</script>
