{# MOVIMIENTOS DE ALMACÉN #}

<div class="panel panel-default">
    <div class="panel-heading">
        <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordionStock" href="#collapseThree">Movimientos de Almacén</a>
        </h4>
    </div>
    <div id="collapseThree" class="panel-collapse collapse">
        <div class="panel-body">
            <table class="table">
                <thead>
                    <tr>
                        <th>Almacén</th>
                        <th>Fecha</th>
                        <th>Hora</th>
                        <th>Descripción</th>
                        <th>Entradas</th>
                        <th>Salidas</th>
                    </tr>
                </thead>
                <tbody>
                {% set entradas = 0 %}
                {% set salidas = 0 %}
                {% for mvto in datos.getMvtosAlmacen() %}
                    {% set entradas = entradas + mvto.UnidadesE %}
                    {% set salidas = salidas + mvto.UnidadesS %}
                    <tr>
                        <td>{{mvto.Almacen}}</td>
                        <td>{{mvto.Fecha|date('d-m-Y')}}</td>
                        <td>{{mvto.Hora}}</td>
                        <td>{{mvto.Descripcion}}</td>
                        <td class="text-right">{{mvto.UnidadesE}}</td>
                        <td class="text-right">{{mvto.UnidadesS}}</td>
                    </tr> 
                {% endfor %}
                </tbody>
                <tfooter>
                <tr class="Titulos">
                    <th colspan="4">Totales</th>
                    <th class="text-right">{{entradas|number_format(3,'.')}}</th>
                    <th class="text-right">{{salidas|number_format(3,'.')}}</th>
                </tr>
                </tfooter>
            </table>
        </div>
    </div>
</div>
