{# PROPIEDADES DE STOCK #}

<div class="panel panel-default">
    <div class="panel-heading">
        <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordionStock" href="#collapseOne">Propiedades de stock</a>
        </h4>
    </div>
    <div id="collapseOne" class="panel-collapse collapse in">
        <div class="panel-body">
            <div class="col-md-4">
                {{ macro.input(values.atributos.AllowsChildren,'EtiquetaLarga','checkbox',values.controller ~ '[AllowsChildren]',values.controller ~ '_AllowsChildren',datos.AllowsChildren.IDTipo,'255','CampoTextoLargo','12') }}
                {{ macro.input(values.atributos.BajoPedido,'EtiquetaLarga','checkbox',values.controller ~ '[BajoPedido]',values.controller ~ '_BajoPedido',datos.BajoPedido.IDTipo,'255','CampoTextoLargo','20')}}
                {{ macro.input(values.atributos.Inventario,'EtiquetaLarga','checkbox',values.controller ~ '[Inventario]',values.controller ~ '_Inventario',datos.Inventario.IDTipo,'255','CampoTextoLargo','20')}}
                {{ macro.input(values.atributos.BloqueoStock,'EtiquetaLarga','checkbox',values.controller ~ '[BloqueoStock]',values.controller ~ '_BloqueoStock',datos.BloqueoStock.IDTipo,'255','CampoTextoLargo','20')}}
                {{ macro.input(values.atributos.Trazabilidad,'EtiquetaLarga','checkbox',values.controller ~ '[Trazabilidad]',values.controller ~ '_Trazabilidad',datos.Trazabilidad.IDTipo,'255','CampoTextoLargo','20')}}
                {{ macro.input(values.atributos.StockMinimo,'EtiquetaLarga','text',values.controller ~ '[StockMinimo]',values.controller ~ '_StockMinimo',datos.StockMinimo,'10','CampoImporte','29') }}
                {{ macro.input(values.atributos.StockMaximo,'EtiquetaLarga','text',values.controller ~ '[StockMaximo]',values.controller ~ '_StockMaximo',datos.StockMaximo,'10','CampoImporte','30') }}
            </div>
            <div class="col-md-4">
                {{ macro.input(values.atributos.MinimoVentaAlto,'EtiquetaLarga','text',values.controller ~ '[MinimoVentaAlto]',values.controller ~ '_MinimoVentaAlto',datos.MinimoVentaAlto,'10','CampoImporte','31') }}
                {{ macro.input(values.atributos.MinimoVentaAncho,'EtiquetaLarga','text',values.controller ~ '[MinimoVentaAncho]',values.controller ~ '_MinimoVentaAncho',datos.MinimoVentaAncho,'10','CampoImporte','32') }}
                {{ macro.input(values.atributos.MinimoVenta,'EtiquetaLarga','text',values.controller ~ '[MinimoVenta]',values.controller ~ '_MinimoVenta',datos.MinimoVenta,'10','CampoImporte','33') }}
                {{ macro.input(values.atributos.MultiploAlto,'EtiquetaLarga','text',values.controller ~ '[MultiploAlto]',values.controller ~ '_MultiploAlto',datos.MultiploAlto,'10','CampoImporte','34') }}
                {{ macro.input(values.atributos.MultiploAncho,'EtiquetaLarga','text',values.controller ~ '[MultiploAncho]',values.controller ~ '_MultiploAncho',datos.MultiploAncho,'10','CampoImporte','35') }}
                {{ macro.input(values.atributos.RecargoEnergetico,'EtiquetaLarga','checkbox','Articulos[RecargoEnergetico]','Articulos_RecargoEnergetico',datos.RecargoEnergetico.IDTipo,'255','CampoTextoLargo','20')}}                          
            </div>
            <div class="col-md-4">           
                {{ macro.input(values.atributos.PackingCompras,'EtiquetaLarga','text',values.controller ~ '[PackingCompras]',values.controller ~ '_PackingCompras',datos.PackingCompras,'10','CampoImporte','24') }}
                {{ macro.input(values.atributos.PackingVentas,'EtiquetaLarga','text',values.controller ~ '[PackingVentas]',values.controller ~ '_PackingVentas',datos.PackingVentas,'10','CampoImporte','25') }}
                {{ macro.input(values.atributos.Caducidad,'EtiquetaLarga','text',values.controller ~ '[Caducidad]',values.controller ~ '_Caducidad',datos.Caducidad,'4','CampoUnidades','14') }}
                {{ macro.input(values.atributos.Merma,'EtiquetaLarga','text',values.controller ~ '[Merma]',values.controller ~ '_Merma',datos.Merma,'10','CampoImporte','16') }}
                {{ macro.input(values.atributos.Peso,'EtiquetaLarga','text',values.controller ~ '[Peso]',values.controller ~ '_Peso',datos.Peso,'10','CampoImporte','16') }}
                {{ macro.input(values.atributos.Volumen,'EtiquetaLarga','text',values.controller ~ '[Volumen]',values.controller ~ '_Volumen',datos.Volumen,'10','CampoImporte','17') }}
            </div>
        </div>
    </div>
</div>