{# Template list.html.twig for Empresas #}
{# -------------------------------------------------------#}
{% extends values.controller ~ '/index.html.twig' %}

{% block listado %}
<div class='Listado'>

	{% include '_global/paginacion.html.twig' with {'filter':values.listado.filter,'controller':'Empresas','position':'izq'}%}

        <table width="100%">
            <tr class='Titulos'>
                <td class='Item'>Empresa</td>
                <td class='Item'>Cif</td>
                <td class='Item'>Direcci&oacute;n</td>
                <td class='Item'>Provincia</td>                
                <td class='Item'>Poblacion</td>
            </tr>

            <tbody class='Cuerpo'>
            {% for key,objeto in values.listado.data %}
                {% if (key is even) %}
                    {% set classFila = 'Impar' %}
                {% else %}
                    {% set classFila = 'Par' %}
                {% endif %}
            <tr class="{{classFila}}">
                <td class='Item'><a href="{{app.path}}/{{values.controller}}/edit/{{objeto.PrimaryKeyMD5}}" title="Editar...">{{objeto.RazonSocial}}</a></td>
                <td class='Item'>{{objeto.Cif}}</td>
                <td class='Item'>{{objeto.Direccion}}</td>
                <td class='Item'>{{objeto.IdProvincia}}</td>                
                <td class='Item'>{{objeto.IdPoblacion}}</td>
            </tr>
            {% else %}
            <tr><td colspan='2'>No hay informaci&oacute;n que cumpla esos criterios</td></tr>
            {% endfor %}
            </tbody>
        </table>

</div>
{% endblock %}