{# Template edit.html.twig for RecibosProveedores #}
{# -------------------------------------------------------#}
{# EDITAR UN REGISTRO. ACCIONES: GUARDAR Y BORRAR         #}
{# -------------------------------------------------------#}
{% extends 'RecibosProveedores/index.html.twig' %}

{% block mantenimiento %}
<div class="FormManto">
    <form name="manto_{{values.controller}}" id="manto_{{values.controller}}" action="" enctype="multipart/form-data" method="POST">    
        <input name="controller" value="RecibosProveedores" type="hidden" />
        <input name="action" id="action" value="edit" type="hidden" />
        <input name="accion" id="accion_{{values.controller}}" value="" type="hidden" />  
        <input name="RecibosProveedores[IDRecibo]" value="{{ values.datos.IDRecibo }}" type="hidden" />

        <div class='Comandos'>
            <div class="Titulo">
            <div style="float: left;">
                {% if values.permisos.permisosModulo['UP'] %}
                <input type="image" src="{{app.path}}/images/save_cmd.png" width="24px" onclick="getElementById('accion_{{values.controller}}').value='Guardar';" alt="Guardar" title="Guardar" />
                {% endif %}
                {% if values.permisos.permisosModulo['DE'] %}
                <input type="image" src="{{app.path}}/images/trash_cmd.png" width="24px" onclick="if (!confirm('¿Desea borrar el registro?')) {return false;} else {getElementById('accion_{{values.controller}}').value='Borrar';}" alt="Borrar" title="Borrar" />
                {% endif %}
                {% if values.datos.getIDArqueo and values.permisosCajas['CO'] %}
                    <a href="{{app.path}}/CajaArqueos/Edit/{{values.datos.PrimaryKeyMD5}}" title="Ver apunte de caja">
                        <img src="{{app.path}}/images/caja.png" width="24px"/>
                    </a>
                {% endif %}                
            </div>
            {% include '_global/comandosAuditoria.html.twig' with {'controller': values.controller} %}
            <div style="clear: both;"></div>
            </div>
        </div>
        
        <div class='Cuerpo'>
	{% include "_global/FormErrores.html.twig" with {'errores': values.errores} %}
	{% include "RecibosProveedores/form.html.twig" with {'datos': values.datos} %}
        </div>
    </form>
</div>
{% endblock %}