{# TEMPLATE Tpvs/form.html.twig #}
{# Muestra los campos editables de la entidad #}

{% set atributos = values.atributos %}

<div style="float:left; width: 50%">
{% if datos.IDTpv %}
    {{ macro.etiqueta(atributos.IDSucursal,'Etiqueta',datos.IDSucursal,'Tpvs_IDSucursal') }}
{% else %}
    {{ macro.select(atributos.IDSucursal,'Etiqueta','Tpvs[IDSucursal]','Tpvs_IDSucursal',200,datos.IDSucursal.IDSucursal,user.getSucursales(),'Select')}}
{% endif %}
{{ macro.input(atributos.Nombre,'Etiqueta','text','Tpvs[Nombre]','Tpvs_Nombre',datos.Nombre,'50','CampoTextoLargo') }}
{{ macro.input(atributos.AperturaCajon,'Etiqueta','text','Tpvs[AperturaCajon]','Tpvs_AperturaCajon',datos.AperturaCajon,'50','CampoTextoLargo') }}
{{ macro.input(atributos.SaltoPagina,'Etiqueta','checkbox','Tpvs[SaltoPagina]','Tpvs_SaltoPagina',datos.SaltoPagina.IDTipo,'255','CampoTextoLargo','20')}}          
{{ macro.input(atributos.Estilo,'Etiqueta','text','Tpvs[Estilo]','Tpvs_Estilo',datos.Estilo,'50','CampoTextoLargo') }}
{{ macro.select(atributos.IDDataFono1,'Etiqueta','Tpvs[IDDataFono1]','Tpvs_IDDataFono1',150,datos.IDDataFono1.IDDataFono,datos.IDDataFono1.fetchAll('Datafono'),'Select')}}
{{ macro.select(atributos.IDDataFono2,'Etiqueta','Tpvs[IDDataFono2]','Tpvs_IDDataFono2',150,datos.IDDataFono2.IDDataFono,datos.IDDataFono2.fetchAll('Datafono'),'Select')}}
{{ macro.select(atributos.IDDataFono3,'Etiqueta','Tpvs[IDDataFono3]','Tpvs_IDDataFono3',150,datos.IDDataFono3.IDDataFono,datos.IDDataFono3.fetchAll('Datafono'),'Select')}}
{{ macro.select(atributos.IDDataFono4,'Etiqueta','Tpvs[IDDataFono4]','Tpvs_IDDataFono4',150,datos.IDDataFono4.IDDataFono,datos.IDDataFono4.fetchAll('Datafono'),'Select')}}

{{ macro.foco('Tpvs_Nombre') }}
</div>

<div style="float: left; width: 48%; border: 1px dotted;">
    <div class="Subtitulo" style="text-align: center;">Datáfonos</div>
    <iframe width="100%" height="227" scrolling="yes" style="margin-top:5px; border:0;"
        src="{{app.path}}/Datafonos/list">
    </iframe>
</div>