{# TEMPLATE Proveedores/form.html.twig #}
{# Muestra los campos editables de la entidad        #}

{% set digitosCta = emp.DigitosCuentaContable %}
{% set atributos = values.atributos %}

<div id="tabs">
    <input name="solapaActiva" id="solapaActiva" value="{{ values.solapaActiva }}" type="hidden" />    
    <ul>
        <li>
            <a href="#general">{%if datos.RazonSocial%}<b>{{macro.recortaTexto(datos.RazonSocial,40)}}</b>{%else%}Proveedor{%endif%}</a>
        </li>  
        {% if datos.PrimaryKeyValue %}
        <li>
            <a href="#vctos" onclick='cargaVencimientos("vctos");'>Vencimientos</a>
        </li>
        {% endif %}
        {% if (values.varEnvMod.withDocuments == '1' or user.IDPerfil.IDPerfilPerfil == '1') and (datos.PrimaryKeyValue ) %}            
        <li><a href="#divDocs" id="docs">Docs ({{datos.getNumberOfDocuments('document')}})</a></li>
        {% endif %}  
    </ul>

    <div id="general">
        <div style="float: left; width: 51%;">        
            {{ macro.input(atributos.RazonSocial,'Etiqueta','text','Proveedores[RazonSocial]','Proveedores_RazonSocial',datos.RazonSocial,'50','CampoTextoLargo') }}
            {{ macro.input(atributos.NombreComercial,'Etiqueta','text','Proveedores[NombreComercial]','Proveedores_NombreComercial',datos.NombreComercial,'50','CampoTextoLargo') }}
            {{ macro.cif(atributos.Cif,'Etiqueta','text','Proveedores[Cif]','Proveedores_Cif',datos.Cif,'CampoCif') }}
            {{ macro.input(atributos.Direccion,'Etiqueta','text','Proveedores[Direccion]','Proveedores_Direccion',datos.Direccion,'50','CampoTextoLargo') }}
            {{ macro.input(atributos.IDPais,'Etiqueta','text','Proveedores[IDPais]','Proveedores_IDPais',datos.IDPais.IDPais,'255','CampoTextoMedio','',"limpia('Proveedores_IDPais','Proveedores_IDProvincia');limpia('Proveedores_IDPais','Proveedores_IDPoblacion');",['paises','Pais',datos.IDPais.Pais]) }}
            {{ macro.input(atributos.IDProvincia,'Etiqueta','text','Proveedores[IDProvincia]','Proveedores_IDProvincia',datos.IDProvincia.IDProvincia,'255','CampoTextoLargo','',"limpia('Proveedores_IDProvincia','Proveedores_IDPoblacion');",['provincias','Provincia',datos.IDProvincia.Provincia,'Proveedores_IDPais']) }}
            {{ macro.input(atributos.IDPoblacion,'Etiqueta','text','Proveedores[IDPoblacion]','Proveedores_IDPoblacion',datos.IDPoblacion.IDMunicipio,'255','CampoTextoLargo','','',['municipios','Municipio',datos.IDPoblacion.Municipio,'Proveedores_IDProvincia']) }}       
            {{ macro.input(atributos.Telefono,'Etiqueta','text','Proveedores[Telefono]','Proveedores_Telefono',datos.Telefono,'30','CampoTextoLargo') }}
            {{ macro.input(atributos.Fax,'Etiqueta','text','Proveedores[Fax]','Proveedores_Fax',datos.Fax,'30','CampoTextoLargo') }}
            {{ macro.input(atributos.Movil,'Etiqueta','text','Proveedores[Movil]','Proveedores_Movil',datos.Movil,'30','CampoTextoLargo') }}
            {{ macro.input(atributos.EMail,'Etiqueta','text','Proveedores[EMail]','Proveedores_EMail',datos.EMail,'50','CampoTextoLargo') }}
            {{ macro.input(atributos.Web,'Etiqueta','text','Proveedores[Web]','Proveedores_Web',datos.Web,'50','CampoTextoLargo') }}
            {{ macro.input(atributos.CContable,'Etiqueta','text','Proveedores[CContable]','Proveedores_CContable',datos.CContable,digitosCta,'CampoTextoCorto') }}
            {{ macro.cc(atributos.Banco,'Etiqueta','cc','Proveedores',datos.Banco,datos.Oficina,datos.Digito,datos.Cuenta) }}
            {{ macro.input(atributos.Iban,'Etiqueta','text','Proveedores[Iban]','Proveedores_Iban',datos.Iban,'34','CampoTextoMedio') }}
            {{ macro.input(atributos.Bic,'Etiqueta','text','Proveedores[Bic]','Proveedores_Bic',datos.Bic,'11','CampoTextoCorto') }}         
            {{ macro.input(atributos.Mandato,'Etiqueta','text','Proveedores[Mandato]','Proveedores_Mandato',datos.Mandato,'35','CampoTextoCorto') }}        
            {{ macro.fecha(atributos.FechaMandato,'Etiqueta','Proveedores[FechaMandato]','Proveedores_FechaMandato',datos.FechaMandato,'10','CampoFecha') }}               
            {{ macro.select(atributos.IDFP,'Etiqueta','Proveedores[IDFP]','Proveedores_IDFP',200,datos.IDFP.IDFP,datos.IDFP.fetchAll('Descripcion',false),'Select') }}
            {{ macro.input(atributos.Iva,'Etiqueta','checkbox','Proveedores[Iva]','Proveedores[Iva]',datos.Iva.IDTipo,'255','CampoTextoLargo') }}                        
        </div>
        <div style="float: left; width: 47%;">
            {{ macro.textarea(atributos.Observaciones,'Etiqueta','Proveedores[Observaciones]','Proveedores_Observaciones',datos.Observaciones,none,none,'TextArea')}}             
            {% include '_global/metaDatos.html.twig' %}
        </div>
    </div>  

    {% if datos.PrimaryKeyValue %}
        <div id="vctos"></div>

        {% if values.varEnvMod.withDocuments == '1' or user.IDPerfil.IDPerfilPerfil == '1' %}              
        <div id="divDocs"></div>
        {% endif %}
    {% endif %}    

</div>  
 
{{ macro.foco('Proveedores_RazonSocial') }}

<script type="text/javascript">
function cargaVencimientos(idDiv) {

    $('#'+idDiv).html("<iframe width='100%' height='270' scrolling='yes' style='border: 0px dotted grey;' src='{{app.path}}/Proveedores/listVencimientos/{{datos.IDProveedor}}'></iframe>");

}

function limpia(idOrigen,idInput) {

    if ( $('#'+idOrigen+'_valorAnterior').val() !== $('#'+idOrigen).val() ) {
        $('#'+idInput).val('');
        $('#'+idInput+'_autoComplete').val('');  
    }
    
}

$("#docs").click(function(){
    url = "<iframe src='{{app.path}}/CpanDocs/listPopup/{{values.controller}}/{{datos.PrimaryKeyValue}}/document/1' width='100%' height='270' scrolling='yes' style='border: 0px dotted grey;'></iframe>"; 
    $("#divDocs").html(url);
});
 
</script>