{#
  Module: ErpLotesWeb
  Document : modules\ErpLotesWeb\list.html.twig

  author: Sergio Pérez <sergio.perez@albatronic.com>
  copyright: INFORMATICA ALBATRONIC SL
  date 20.06.2014 18:30:08
#}

{% extends values.controller  ~ '/index.html.twig' %}

{% block listado %}
<div class='Listado'>

	{% include '_global/paginacion.html.twig' with {'filter':values.listado.filter,'controller':values.controller,'position':'izq'}%}
        <div id="Listado">
        <table width="100%">
            <tr class='Titulos'>
                <td></td>
                <td class='Item'>Titulo</td>
                <td class='Item'>Publicar</td>
                <td class='Item'>Mostrar en Portada</td>
                <td class='Item'>Vigente Desde</td>
                <td class='Item'>Vigente Hasta</td>
            </tr>

            <tbody class='Cuerpo'>
            {% for key,objeto in values.listado.data %}
                {% if (key is even) %}
                    {% set classFila = 'Impar' %}
                {% else %}
                    {% set classFila = 'Par' %}
                {% endif %}
            <tr class='{{classFila}}'>
                <td class='Item'>                    
                    <a href="{{app.path}}/{{values.controller}}/edit/{{objeto.PrimaryKeyMD5}}" title="Editar...">
                        <img src="{{app.path}}/images/botoneditar.png" width="16px" height="16px" />
                    </a>
                </td>
                <td class='Item'>{{objeto.Titulo}}</td>
                <td class='Item' align="center">
                    {{ macro.actualizaColumna(values.controller,objeto.getPrimaryKeyValue,'Publish',objeto.Publish.IDTipo,'Publicar/Despublicar')}}  
                </td>
                <td class='Item' align="center">
                    {{ macro.actualizaColumna(values.controller,objeto.getPrimaryKeyValue,'MostrarEnPortada',objeto.MostrarEnPortada.IDTipo,'Mostrar en la portada de la web')}}  
                </td>
                <td class='Item' align="center">{{objeto.ActiveFrom}}</td>
                <td class='Item' align="center">{{objeto.ActiveTo}}</td>
            </tr>
            {% else %}
            <tr><td colspan='2'>No hay informaci&oacute;n que cumpla esos criterios</td></tr>
            {% endfor %}
            </tbody>
        </table>
        </div>

</div>
{% endblock %}