{# Template CajaArqueos/mvtosEntidad.html.twig                             #}

{# Muestra los movimientos ocurridos en cualquier caja y periodo de fechas #}
{# para el id de una entidad dada                                          #}

{% extends popup %}

{% block content %}
<div class='Listado'>

    <table width='100%'>
        <tr class='Titulos'>
            <td class='Item'>Fecha</td>
            {#<td class='Item'>Hora</td>#}
            <td class='Item'>Concepto</td>
            <td class='Item'>Importe</td>
            <td class='Item'>Forma Pago</td>
        </tr>

        <tbody class="Cuerpo">
            {% for objeto in values.listado %}

                <tr>
                    <td>{{objeto.Dia}}</td>
                    {#<td>{{objeto.Hora}}</td>#}
                    <td>{{objeto.Concepto}}</td>
                    <td align="right">{{objeto.Importe}}</td>
                    <td>{{objeto.IDFP}}</td>
                </tr>

            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
