{# Template list.html.twig for ExpedirCab #}
{# -------------------------------------------------------#}
{% extends 'ExpedirCab/index.html.twig' %}

{% block listado %}
<div class="FormManto">
	<form name="manto_{{values.controller}}" id="manto_{{values.controller}}" action="" method="POST" enctype="multipart/form-data">
	<input name="controller" value="ExpedirCab" type="hidden" />
        <input name="action" value="" type="hidden" />
        <input name="filter" value="{{values.listado.filter}}" type="hidden" />
	<div class='Comandos'>
            <p class="Titulo">Expedición Agrupada
            {% if values.permisos['A'] %}
            <input type="image" src="{{app.path}}/images/expedir_cmd.png" onclick="if (!confirm('¿Desea expedir toda la mercancía?')) {return false;} else {getElementById('action').value='Expedir'; submit();}" alt="Expedir" title="Expedir" />
            {% endif %}
            <input type="image" src="{{app.path}}/images/print_cmd.png" width="24px" height="24px" onclick="getElementById('action').value='Imprimir'; submit();" alt="Imprimir" title="Imprimir" />
            </p>
        </div>
        </form>
</div>

<div class='Listado'>
    <table width='100%'>
        <tr class='Titulos'>
            <td class='Item'>Artículo</td>
            <td class='Item'>Descripción</td>
            <td class='Item' colspan="2">Cantidad</td>
            <td class='Item'>Kgr.</td>
            <td class='Item'>Cajas</td>
            <td class='Item'>Pales</td>
            <td class='Item'>Lote</td>
            <td class='Item'>Ubicación</td>
            <td class='Item'>Temperatura</td>
            <td></td>
        </tr>

        <tbody class="Cuerpo">
            {% set albaanti = 0 %}

            {% for key,objeto in values.listado.data %}

            {% if objeto.IDAlbaran.IDAlbaran != albaanti %}
                <tr>
                    <td class="InterLinea">Alb: {{objeto.IDAlbaran.NumeroAlbaran}}</td>
                    <td class="InterLinea" colspan="4">Comercial: {{objeto.IDAlbaran.IDComercial}}</td>
                    <td class="InterLinea" colspan="6">{{objeto.IDAlbaran.IDCliente}} - {{objeto.IDAlbaran.IDCliente.Poblacion}} ({{objeto.IDAlbaran.IDCliente.IDProvincia.Provincia}})</td>
                </td></tr>
            {% endif %}
            {% set albaanti = objeto.IDAlbaran.IDAlbaran %}

            <form name="linea{{key+1}}" action="" method="POST" enctype="multipart/form-data">
            <input name="controller" value="ExpedirCab" type="hidden" />
            <input name="action" value="edit" type="hidden" />
            <input name="ExpedirCab[IDAlbaran]" value="{{ objeto.IDAlbaran }}" type="hidden" />
            <input name="ExpedirCab[IDLinea]" value="{{ objeto.IDLinea }}" type="hidden" />
            <input name="ExpedirCab[IDArticulo]" value="{{ objeto.IDArticulo.IDArticulo }}" type="hidden" />
            <input name="ExpedirCab[Precio]" value="{{ objeto.Precio }}" type="hidden" />
            <tr class="ItemListado">
                <td>{{objeto.IDArticulo.Codigo}}</td>
                <td>{{objeto.IDArticulo}}</td>
                <td align="right">{{objeto.Unidades}}</td>
                <td>{{objeto.IDArticulo.UMA}}</td>
                <td></td>
                <td></td>
                <td></td>
                <td align="center">
                    <div id="div_Lote{{key+1}}">
                        {% if objeto.IDArticulo.Trazabilidad.IDTipo == '1' %}
                        <select name="ExpedirCab[IDLote]" id="ExpedirCab_IDLote" class="Select">
                        {% for lote in objeto.IDLote.fetchAll(objeto.IDArticulo.IDArticulo)%}
                            <option value="{{lote.Id}}" {% if lote.Id == objeto.IDLote.IDLote%} SELECTED {% endif %}>{{lote.Value}}</option>
                        {% endfor %}
                        </select>
                        <img src="{{app.path}}/images/detalle.png" title="Varios Lotes" onclick="document.getElementById('accion{{key+1}}').value='Varios';"/>
                        {% endif %}
                    </div>
                </td>
                <td></td>
                <td align="center"><input name="ExpedirCab[Temperatura]" value="{{objeto.Temperatura}}" type="text" style="width:30px;text-align:right;"/></td>
                <td align="center">
                    <input name="accion" id="accion{{key+1}}" value="G" type="submit" title="Guardar Linea" />
                    {% if objeto.Unidades == 0 %}
                    <input name="accion" value="B" type="submit" title="Borrar Linea" onclick=" return confirm('¿Desea eliminar la línea?');" />
                    {% endif %}
                </td>
            </tr>
            </form>
            {% endfor %}
            </tbody>
    </table>

</div>
{% endblock %}