{# Template list.html.twig for Contadores #}
{# -------------------------------------------------------#}
{% extends values.controller  ~ '/index.html.twig' %}

{% block listado %}
<div class='Listado'>
	{% include '_global/paginacion.html.twig' with {'filter': values.listado.filter, 'controller': values.controller, 'position': 'izq'}%}
    <table width="100%">
        <tr class='Titulos'>
            <td class='Item'></td>
            <td class='Item'>Sucursal</td>
            <td class='Item'>Tipo</td>
            <td class='Item'>Serie</td>
            <td class='Item'>Contador</td>
            <td class='Item'>Predefinido</td>
        </tr>

        <tbody class='Cuerpo'>
            {% for key,objeto in values.listado.data %}
                {% if (key is even) %}
                    {% set classFila = 'Impar' %}
                {% else %}
                    {% set classFila = 'Par' %}
                {% endif %}
            <tr class="{{classFila}}">
                <td>
                    <a href='{{app.path}}/Contadores/Edit/{{objeto.PrimaryKeyMD5}}' title='Editar ...'>
                        <img src="{{app.path}}/images/botoneditar.png" width="16px" height="16px" />
                    </a>
                </td>
                <td class='Item'>{{objeto.IDSucursal.Nombre}}</td>
                <td class='Item'>{{objeto.IDTipo}}</td>
                <td class='Item'>{{objeto.Serie}}</td>
                <td class='Item' align="right">{{objeto.Contador}}</td>
                <td class='Item' align="center">{{objeto.Predefinido}}</td>
            </tr>
            {% else %}
            <tr><td colspan='2'>No hay informaci&oacute;n que cumpla esos criterios</td></tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}