{# Template form.html.twig for PedidosLineas #}
{# ------------------------------------------#}
{% extends 'PedidosLineas/index.html.twig' %}

{% set puntero = 0 %}

{% block listado %}

<div class='Listado'>
    <table width='100%'>
        <tr class='Titulos'>
            <td class='Item'>Artículo</td>
            <td class='Item'>Descripción</td>
            <td class='Item'>Cantidad</td>
            <td class='Item'>Precio</td>
            <td class='Item'>Dcto</td>
            <td class='Item'>Iva</td>
            <td class='Item'>Importe</td>
            <td>&nbsp;</td>
        </tr>

        <tbody class="Cuerpo">
        {% for key,objeto in values.listado.data %}
        {% set puntero = key %}
        <form name="linea{{puntero}}" action="" method="POST" enctype="multipart/form-data">
            <input name="controller" value="PedidosLineas" type="hidden" />
            <input name="action" id="action" value="edit" type="hidden" />
            <input name="PedidosLineas[IDPedido]" value="{{ values.linkBy.value }}" type="hidden" />
            <input name="PedidosLineas[IDLinea]" value="{{ objeto.IDLinea }}" type="hidden" />
            <input name="PedidosLineas[IDEstado]" value="{{ objeto.IDEstado.IDTipo }}" type="hidden" />
            <input name="PedidosLineas[IDAgente]" value="{{ objeto.IDAgente.IDAgente }}" type="hidden" />
            <input name="accion" id="accion{{puntero}}" value="" type="hidden" />
            <tr class="ItemListado">
                <td>
                    <input name="PedidosLineas[IDArticulo]" value="{{objeto.IDArticulo.IDArticulo}}" id="PedidosLineas_IDArticulo{{puntero}}" type="hidden" />
                    <input value="{{objeto.IDArticulo.Codigo}}" id="Codigo{{puntero}}" type="text" maxlength="25" style="width:100px;"
                           onkeyup="autoCompletar('Codigo{{puntero}}','PedidosLineas_IDArticulo{{puntero}}','PedidosLineas_Descripcion{{puntero}}','articulos','','');"/>
                    {% if objeto.IDArticulo.IDArticulo %}
                        {{ macro.fichaProducto(app.path,objeto.IDArticulo.IDArticulo) }}
                    {% endif %}                     
                    {% if objeto.IDArticulo.IDArticulo %}
                        {{ macro.historicoCompras(app.path,objeto.IDArticulo.IDArticulo,objeto.IDPedido.IDProveedor.IDProveedor) }}
                    {% endif %}
                </td>
                <td><input name="PedidosLineas[Descripcion]" id="PedidosLineas_Descripcion{{puntero}}" value="{{objeto.Descripcion}}" type="text" maxlength="255" style="width:390px;" /></td>
                <td>
                    <input name="PedidosLineas[Unidades]" value="{{objeto.Unidades}}" type="text" style="width:50px;text-align:right;" />
                    {{objeto.UnidadMedidaArticulo}}
                </td>
                <td><input name="PedidosLineas[Precio]" value="{{objeto.Precio}}" type="text" style="width:60px;text-align:right;" /></td>
                <td><input name="PedidosLineas[Descuento]" value="{{objeto.Descuento}}" type="text" style="width:35px;text-align:right;" /></td>
                <td><input name="PedidosLineas[Iva]" value="{{objeto.Iva}}" type="text" style="width:35px;text-align:right;" /></td>
                <td><input name="PedidosLineas[Importe]" value="{{objeto.Importe}}" type="text" style="width:60px;text-align:right;" readonly /></td>
                <td align="center">
                    {% if objeto.IDLinea > 0 %}
                    <input type="image" src="{{app.path}}/images/botonsave.png" onclick="getElementById('accion{{puntero}}').value='G';" alt="Guardar" title="Guardar Linea" />
                    <input type="image" src="{{app.path}}/images/papelera.gif" onclick="if (!confirm('Desea eliminar la línea?')) {return false;} else {getElementById('accion{{puntero}}').value='B';}" alt="Borrar" title="Borrar Linea" />
                    {% else %}
                    <input id="botonNuevaLinea" type="image" src="{{app.path}}/images/nuevo.png" alt="Nuevo" title="Crear Linea" />
                    {% endif %}
                </td>
            </tr>
        </form>
        {% endfor %}
        </tbody>
    </table>
</div>

{{ macro.foco('Codigo0') }}
<script>
    
    $(function(){
        $('#botonNuevaLinea').blur(function(){$(this).click()});
        $('#botonNuevaLinea').click(function(){
            $('#action').val('new');
        });
    });
        
    pintaTotales('PedidosCab','{{values.linkBy.value}}');
</script>
{% endblock %}