{# Template list.html.twig for Familias #}
{# -------------------------------------------------------#}
{% extends 'Familias/index.html.twig' %}

{% block listado %}
<div class='Listado'>

	{% include '_global/paginacion.html.twig' with {'filter':values.listado.filter,'controller':values.controller,'position':'izq'}%}

        <table id="table-listado" class="table table-striped">
            <thead>
            <tr>
                <th></th>
                <th>Familia</th>
                <th>Publicar Web</th>
                <th>Mostrar en Portada Web</th>
                <th>Mostrar en Tpv</th>
            </tr>
            </thead>

            <tbody class='Cuerpo'>
            {% for key,objeto in values.listado.data %}
                {% if (key is even) %}
                    {% set classFila = 'Impar' %}
                {% else %}
                    {% set classFila = 'Par' %}
                {% endif %}
            <tr class='{{classFila}}'>
                <td>                    
                <a class="btn-edit" href='{{app.path}}/{{values.controller}}/Edit/{{objeto.getPrimaryKeyMD5()}}' title='Editar'>
                    <i class="fa fa-pencil"></i>
                <a>
                </td>
                <td>{% for i in 1..(objeto.NivelJerarquico-1)%}&nbsp;&nbsp;&nbsp;&nbsp;{%endfor%}{{objeto.Familia}}</td>
                <td align="center">
                    {{ macro.actualizaColumna(values.controller,objeto.getPrimaryKeyValue,'Publish',objeto.Publish.IDTipo,'Publicar/Despublicar')}}  
                </td>
                <td align="center">
                    {{ macro.actualizaColumna(values.controller,objeto.getPrimaryKeyValue,'MostrarPortada',objeto.MostrarPortada.IDTipo,'Mostrar en la portada de la web')}}  
                </td>
                <td align="center">
                    {{ macro.actualizaColumna(values.controller,objeto.getPrimaryKeyValue,'MostrarEnTpv',objeto.MostrarEnTpv.IDTipo,'Mostrar en el tpv')}}  
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>

</div>
{% endblock %}